/* ====== Reset & Baseline ====== */
*, 
*::before, *::after { box-sizing: border-box; }
* { margin: 0; }
html:focus-within { scroll-behavior: smooth; }
html, 
body { min-height: 100dvh; }
:root {
  color-scheme: dark;
  scroll-padding-top: var(--site-header-scroll-offset, 0px);
}
@media (max-width: 900px) {
  html {
    scroll-padding-top: var(--site-header--sticky-offset, 0px);
  }
}

/* ====== DEFAULT  ====== */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: none;
  display: flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  filter: saturate(.35) var(--blur-s) drop-shadow(0 0 -14px rgba(0,0,0,.1));
  box-shadow: inset 0 0 164px 64px rgba(0,0,0,.5);
    background: 
    var(--background-overlay),
    var(--bg-overlay--nebula),   
    linear-gradient(205deg, #371173, #510868 ,rgb(40, 7, 112));
  background-blend-mode:darken,overlay,hue;
  background-repeat: no-repeat,repeat,no-repeat;
  background-size: cover,contain,cover;
  background-position: center, top,center;
  will-change: transform;
  transform: translateZ(0);
}
@media(max-width: 900px){
  body::before {
    background: none;
    box-shadow: none;
    filter: none;
  }
}
.panel :where(h1, h2, h3, h4, a) {
  text-shadow: var(--text-shadow--soft);
  color: var(--text-accent);
}
.panel :where(a) {
  
  transition: var(--transition-interactive);
}
.panel,.header__nav:where(a):hover,
.panel,.header__nav:where(a):focus-visible {
  text-shadow: var(--text-shadow--strong);

  opacity: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* ====== ACCESSIBILITY ====== */
:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within { scroll-behavior: auto; }
  *, *::before, *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}
