/* ====== Reset & Baseline ====== */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
html:focus-within { scroll-behavior: smooth; }
html, 
body { min-height: 100dvh; }
:root { color-scheme: dark; }

/* ====== DEFAULT  ====== */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: none; 
  display: flex;
  flex-direction: column;  
}

body::before{
  content:"";
  position: fixed;
  inset: 0;
  z-index: -1;
  background:
    var(--background-overlay),
    var(--background-image, none) center / cover no-repeat;
  will-change: transform; transform: translateZ(0);
}

:where(a){
  text-decoration: none;
  text-shadow: var(--primary-text-shadow);
  color: var(--accent-color);
  transition: color .2s ease, text-shadow .2s ease;
}
:where(a):hover,
:where(a):focus-visible {
  text-shadow: var(--sec-text-shadow);
}

img, picture, video, canvas, svg { display: block; max-inline-size: 100%; }
input, button, textarea, select { font: inherit; color: inherit; }

/* ====== ACCESSIBILITY ====== */
:focus-visible { outline: 2px solid var(--accent-color); outline-offset: 2px; }

@media (prefers-reduced-motion: reduce){
  html:focus-within { scroll-behavior: auto; }
  *, *::before, *::after {
    animation-duration: .01ms !important; animation-iteration-count: 1 !important;
    transition-duration: .01ms !important; scroll-behavior: auto !important;
  }
}
