/* ============================================ */
/* ======== CONTENT: COMPONENTS & ELEMENTS ==== */
/* ====== Depends on: tokens, site, typography ====== */
/* ============================================ */
.content-section :where(h1,h2,h3,h4) {
  margin: 0 0 calc(var(--flow-gap) * .5) 0;
}

.content-section {
  display: grid;
  flex-wrap: wrap; 
  gap: var(--section-gap);
  align-items: stretch; 
  max-inline-size: 100%;
  grid-template-columns: 1fr;
}
.content-section:first-of-type,
* + .content-section { 
  margin-block-start: var(--section-gap); 
}
.content-section.cols-2 { grid-template-columns: repeat(2, 1fr); }
.content-section.cols-3 { grid-template-columns: repeat(3, 1fr); }

@media (max-width: 800px)  { .content-section.cols-2 { grid-template-columns: 1fr; }}
@media (max-width: 1100px) { .content-section.cols-3  { grid-template-columns: repeat(2, 1fr); }}

.content-section--masonry {
  display: block;
  column-gap: var(--section-gap);
  column-fill: balance;
  column-count: 2;
}

@media (max-width: 800px)  { .content-section--masonry { column-count: 1; } }
@media (min-width: 1380px) { .content-section--masonry { column-count: 3; } }

.content-section--masonry > * {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  margin-block-end: var(--section-gap);
}
.content-section--masonry .card { min-block-size: auto; }

/* ====== CONTENT CARD ====== */
.card{
  display: grid;
  position: relative;
  grid-template-areas:
    "card-head"
    "card-body"
    "card-foot";
  grid-template-rows: auto 1fr auto;

  min-block-size: 100%;
  padding: var(--card-padding);
  gap: var(--card-gap);

  border-radius: var(--radius-l);
  backdrop-filter: var(--backdrop--card);
  box-shadow: var(--shadow--card);
}

/* ====== Card: VARIATIONS ======*/
/* === PLAIN (w/o bg, shadow, backdrop) === */
.card--plain  { 
  background: transparent; 
  box-shadow: none; 
  backdrop-filter: none;
}
.card--plain :where(.prose){ 
  font-weight: var(--font-weight-thick);
}


/* === FLUSH (padding / gap 0) === */
.card--flush { 
  padding: 0;  
  gap: 0;
}
.card--flush .card__head { 
  row-gap: 0; 
  column-gap: 0; 
}


/* === ANIMATE (on hover: scale + filter) === */
.card--animate { 
  transition: var(--transition--card); 
}
.card--animate:is(:hover,:focus-visible) {
  transform: var(--transform--card);
  filter: var(--filter--card);
}


/* === CENTER === */
.card--center { 
  justify-items: center; 
  text-align: center; 
}
.card--center :where(.prose) {
   margin-inline: auto; 
}


/* === CONDENSE (smaller gap) === */
.card--condense { 
  gap: var(--flow-gap); 
}


/* ====== CARD AREAS ====== */
/* === HEAD === */
.card__head { 
  grid-area: card-head; 
  display: grid;
  grid-template-areas: "title badges";
  grid-template-columns: minmax(0,1fr) auto;
  align-items: flex-start;             /* vertikal mittig */
  column-gap: var(--card-gap);
}
.card__head > .card__badges{ grid-area: badges; }
@media (max-width: 900px) {
  .card__head{
    grid-template-areas:
      "title"
      "badges"; 
  } 
}
.card__head--column {
  grid-template-areas:
    "title"
    "badges";
  grid-template-columns: 1fr;
  row-gap: var(--flow-gap); 
}


/* === TITLE === */
.card__title { 
  grid-area: title; 
  min-width: 0; 
  align-items: center; 
  display: inline-flex; 
  gap: var(--cluster-gap);
}


/* === BODY === */
/* Refactor: move font-related ordered list properties to typography */
.card__body { grid-area: card-body; display: contents; }

.card__body > ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-grid;
  list-style: none;
  gap: var(--cluster-gap);
}
@media (max-width: 900px) {
  .card__body > ol {
    grid-auto-flow: row;
    grid-template-columns: auto;
  }
}
.card__body > ol > li { margin: 0; }

/* Refactor: find a better selector for .card__body > ol > li > a */
.card__body > ol > li > a {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--card-gap);
  align-items: flex-start;
  padding: var(--control-padding);
  border-radius: var(--radius-m);
  background: var(--color-dark--soft);
  box-shadow: var(--shadow--soft);
  opacity: .7;
  text-decoration: none;
  color: inherit;
  transition: background .35s ease, opacity .35s ease;
  will-change: opacity, background;
}

#blog-chapter-target [data-blog-chapter] > :is(h1, h2, h3):first-child {
  display: none;
}

.card__body > ol > li > a > span:first-child {
  font-weight: var(--font-weight-thick);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-accent--bright);
}

.card__body > ol > li > a > div {
  display: flex;
  flex-direction: column;
  gap: calc(var(--flow-gap) * 2);
  opacity: 0.85;
}

.card__body > ol > li > a > div > strong {
  font-weight: var(--font-weight-thick);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.card__body > ol > li > a > div > span {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-thin);
  line-height: var(--line-height-m);
  
}

/* === hover, focus & active states === */
.card__body > ol > li > a:is(:hover,:focus-visible,[data-chapter][data-active]){
  opacity: 1;
  background: var(--color-dark--strong);
}

.card__body > ol > li > a:is(:hover,:focus-visible,[data-chapter][data-active])
:where(span:first-child,strong){
  opacity: 1;
  font-weight: var(--font-weight-bold);
  filter: var(--filter--card-list);
}

.card__body > ol > li > a:is(:hover,:focus-visible,[data-chapter][data-active]) > div {
  opacity: 1;
  font-weight: var(--font-weight-thick);
}


/* === FOOT === */
.card__foot { grid-area: card-foot; display: contents; }



/* ===== Card: OVERLAY ===== */
.card__overlay {
  position: absolute;
  inset-inline: 0; 
  display: flex;
  flex-direction: row;
  gap: calc(var(--flow-gap) * 2);
  padding: var(--card-gap);
  backdrop-filter: var(--blur-l);
}

.card__overlay--controls {
  justify-content: center;
  align-items: center; 
  padding-block-end: var(--card-padding);
}

.card__overlay--title {
  justify-content: space-between;  
}

.card__overlay--column {flex-direction: column;}
.card__overlay--bottom {
  border-radius:  0 0 var(--radius-m) var(--radius-m);
  inset-block-end: 0;
}

.card__overlay--top {
  border-radius: var(--radius-m) var(--radius-m) 0 0;
  inset-block-start: 0;
}

.card__overlay--title :where(h1,h2,h3) {
  margin: 0;
  text-wrap: balance;
}

.card__overlay--title :where(p) {
  margin: 0;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  opacity: 0.9;
}

:where(.card__overlay[data-show="false"]) {
  opacity: 0;
  transition: opacity .5s ease;
}
@media (max-width: 1100px) {
  .card__overlay[data-show="false"] {
    opacity: 0;
    transition: opacity .5s ease;
  }
}
*:hover > .card__overlay,
.card__overlay[data-show="true"] {
  opacity: 1;
  transition: opacity .5s ease;
}


/* ===== CARD: MISC ===== */
.card__spacer { flex: 1 1 auto; }

.card__hero-banner {
  position: relative;
  border-radius: var(--radius-l);
  overflow: hidden;
  background: var(--color-dark--soft);
  box-shadow: var(--shadow--card);
  block-size: clamp(14rem, 38vh, 24rem);
}


/* ====== PROSE CONTENT ====== */

.prose {
  display: flex;
  flex-direction: column;
  gap: var(--flow-gap);
  margin-block: var(--flow-gap);
  max-inline-size: clamp(65ch, 35vw, 95ch);
}

.prose:first-child { margin-block-start: 0; }
.prose > * { 
  margin: 0; 
}

.prose ul,
.prose ol {
  padding-inline-start: 1.2em;
  margin: 0;
}

