/* ====== HEADER ================= */

.header {
  position: sticky;
  top: 0;
  z-index: 1001;
  display: grid;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "top"
    "bottom";
  align-items: stretch;
  margin-block: 0;
  margin-inline: 0;
  gap: 0;
}
@media (max-width: 900px) {
  .header {
    border-radius: 0;
    justify-items: stretch;
    justify-content: stretch;
    padding: 0;
    gap: 0;
  }
  .header[data-stuck] {
    grid-template-areas: "top";
  } 
  .header__logo,
  .header__logo img{
    display: none;
  }
}

/* ====== HEADER - BAR ================= */
.header__bar {
    display: inline-grid;
    position: relative;
    grid-template-columns: 1fr;
    filter: drop-shadow(6px 6px 4px var(--color-shadow--strong));
}
.header__bar + .header__bar {margin-block-start: var(--panel-bar-padding); }
.header__bar--top {
  grid-area: top;
  grid-template-columns: auto 1fr;
  grid-template-areas: "logo nav";
  
  padding: var(--panel-bar-padding);

  outline: 2px solid var(--color-dark);
  outline-offset: -1px;

  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  backdrop-filter: var(--blur-s);
  box-shadow: 0 8px 14px -4px var(--color-shadow--strong);

  background: 
    var(--bg-overlay--stars),
    var(--control-surface--dark);
  background-repeat:
    repeat,
    no-repeat;

  background-size:
    640px 640px,    
    cover;

  background-blend-mode:
    soft-light,
    normal;
  background-position:
    center,    
    center;   
}
.header__bar--bottom {
  grid-area: bottom;
  grid-template-areas: "crumbs";
}
@media (max-width: 900px) {
  .header__bar {
      border-radius: 0 ;
    }
  .header[data-stuck] :where(.header__bar--bottom) {
    display: none;
  }
  .header__bar--top {
  grid-template-columns: 1fr;
  grid-template-areas: "nav";
  padding: 0;
  } 
}


/* ====== HEADER - LOGO ================= */
@media (min-width: 900px) { 
  .header[data-stuck] {
    border-radius: 0;
  }
  .header[data-stuck] > .header__logo {
    border-radius: 0;
  }
  .header__logo {
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    grid-area: logo; 
    inline-size: 100%;
    block-size: 100%;
  }
  .header__logo img {
    display: block;
    block-size: auto;
    inline-size: var(--site-logo--size);
  }
}

/* ====== HEADER - NAV ================= */
.header__nav {
    inline-size: 100%;
    block-size: 100%;
    margin: 0;
    display: inline-flex;
    grid-area: nav;
    transition: var(--transition--nav);
    filter: drop-shadow(6px 6px 4px var(--color-shadow--strong));
}

.header__nav > .button:hover > *,
.header__nav > .button[data-active="true"] > * {
  opacity: 1;

}
.header[data-stuck] > .header__nav {
  border-top-right-radius: 0;
}
.header__nav.controls { 
  gap: 0;
  min-inline-size: 100%;
  filter: none;
}
.header__nav > .button { 
  background: transparent;
  block-size: 100% ;
  border-radius: 0 ;
  backdrop-filter: none;
  filter: none;
}
.header__nav > .button[data-active="true"]  {
  background: transparent;
    filter: drop-shadow(2px 3px 14px var(--color--accent));
    transform: scale(1.01);
}
@media (max-width: 900px) {
  .header__nav { 
    border-top-right-radius: 0;
    padding: 0;
  }
  .header__nav.controls { 
    gap: 0;
    min-inline-size: 100%;
    filter: none;
  }
  .header__nav > .button { 
    border-radius: 0 ;
    inline-size: 100%;
  }
}

/* ====== HEADER - NAV - ITEM ================= */
.header__nav-item {
  display: grid;
  grid-template-areas: "symbol label";
  gap: var(--control-gap);
  transition: var(--transition--nav);
  align-items: center;
}

@media (max-width: 900px) {
  .header__nav-item {
    grid-template-areas: "symbol" "label";
    align-items: stretch;
  }
  .header[data-stuck] :where(.header__nav-text) { display: none; }
  .header[data-stuck] :where(.header__nav-item) { gap: 0; }
}

.header__nav-text,
.header__nav-symbol {
  display: inline;
  opacity: .8;
  justify-self: center;
  white-space: pre-wrap;
}
.header__nav-text {   grid-area: label;}
.header__nav-symbol {  grid-area: symbol; }
@media (max-width: 900px) {

  .header__nav-text {  white-space: pre-wrap; text-align: center; }
  .header[data-stuck] :where(.header__nav-text) { display: none; }
}


/* ====== HEADER - CRUMBS ================= */
.header__crumbs {
  text-shadow: var(--text-shadow--soft);
  margin-block: 0;
  margin-inline: 0;
  grid-area: crumbs;
  border-radius: 0;
  align-self: center;
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: var(--cluster-gap);
}

.header__actions:empty {
  display: none;
}
.header__actions {  
  grid-area: actions; 
  align-self: center;
  justify-self: end;
}

.header__crumbs ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--control-gap);
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--font-size-xs);
  color: var(--text-accent);
  text-shadow: var(--text-shadow--soft);
  min-width: 0;
}

.header__crumbs li,
.header__crumbs li .is-current {
  display: inline-flex;
  border-radius: 999px;
  padding-inline: var(--control-gap);
}

.header__crumbs,
.header__crumbs li {
  align-items: center;

}
.header__crumbs li :not(.is-current){
  opacity: .7;
  background: var(--control-surface--dark);
}
.header__crumbs li .is-current {
  color: var(--text-color);
  text-shadow: var(--text-glow--strong);
  background: var(--card-surface--light);
  opacity: 1;
}
.header__crumbs ol > li + li::before { 
  margin-inline: -.25rem;
  content: "›"; 
  opacity: .65;
    padding-inline: 0;
}

