/* ============================================ */
/* ======== SITE: LAYOUT & STRUCTURE ========== */
/* ====== Depends on: tokens, base, typography ====== */
/* ============================================ */

/* ====== FOOTER ================= */
.footer {
  display: grid;
  grid-template-columns: 33% auto 33%;
  grid-template-areas:
    "footer-left footer-center footer-right";
  justify-content: stretch;
  align-items: end;
  vertical-align: middle;

  margin-block: var(--section-gap) 0;
  gap: var(--flow-gap);
  padding-inline: var(--panel-padding);
  padding-block: calc(.75 * var(--panel-bar-padding));
  border-radius: 999px 999px  0 0 ;
  backdrop-filter: var(--blur-l) brightness(1.35) saturate(.85);
  border: 1px solid var(--control-surface--dark);
  border-bottom: hidden;
  box-shadow: var(--surface-shadow--default), inset 0 0 29px color-mix(in oklab,transparent 10%,var(--card-surface--light));
}

@media (max-width: 900px) {
  .footer {
    box-shadow: var(--surface-shadow--default);
    border-radius: var(--radius-m) var(--radius-m) 0 0;
  }
}

.footer :where(p) {
  opacity: 0.75;
}

.footer__left {
  grid-area: footer-left;
  justify-self: start;
}

.footer__center {
  grid-area: footer-center;
  justify-self: center;
}

.footer__right {
  grid-area: footer-right;
  justify-self: end;
}

.footer__center > .control.control--button.control--small {
  font-size: var(--font-size-xxs);
  padding-block: 0;
  vertical-align: bottom;
}
