/* ===== SITE-BARS: SHARED LOOK & BEHAVIOR ===== */
.footer,.header { 
    display: grid;
    grid-template-columns: 1fr;
        position: -webkit-sticky;
    position: sticky;
    z-index: 1001;
    border: 1px solid var(--color-dark--ghosty);
    backdrop-filter: var(--blur-l) brightness(1.2) saturate(1.05);
    box-shadow:
        var(--shadow--default),
        inset 0 0 29px var(--color-dark--soft);
}

/* ===== SITE-BARS: HEAD ===== */
.header {
    top: 0;
    border-radius: 0 0 var(--radius-xxl) var(--radius-xxl);
    border-top: 0;
    padding-inline: var(--bars-padding);
    padding-block: var(--bars-padding);
}
@media (max-width: 900px) {
.header {
    border-radius: 0 0 var(--radius-l) var(--radius-l);
    padding-inline: 0;
    padding-block: var(--bars-padding);
  }
}

/* ===== SITE-BARS: FOOT ===== */
.footer {
    bottom: 0; 
    margin-block-start: var(--panel-padding);
    border-radius: var(--radius-xxl) var(--radius-xxl) 0 0;
    border-bottom: 0;
    padding-inline: var(--bars-padding);

}
@media (max-width: 900px) {
.footer {
    border-radius: var(--radius-m) var(--radius-m) 0 0;
    padding-block: var(--bars-padding); 
  }
}

/* ====== HEADER: NAV-ITEM ====== */
.header__nav-item {
    display: grid;
    gap: var(--control-gap);
    grid-template-columns: 1fr; 
    grid-template-areas: 
        "icon label";
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.5));
    transition: transform .25s ease;
    will-change: transform, filter;
}
.header__nav-item[data-active="false"]:hover { transform: var(--transform-raise);}
.header__nav-item:is([data-active="false"]:is(:hover,:focus-visible),[data-active="true"])> .header__nav-label,
.header__nav-item:is([data-active="false"]:is(:hover,:focus-visible),[data-active="true"])> .header__nav-icon
{
    opacity: .95;
    filter: drop-shadow(0 0 3px color-mix(in oklch,transparent,currentColor)); 
}
@media (max-width: 900px) {
  .header__nav-item                       { inline-size: 100%;  }
  .header__nav-item[data-visible="false"] { grid-template-areas: "icon";  gap: 0; }
  .header__nav-item[data-visible="true"]  { grid-template-areas: "icon" "label";  }
}

/* ====== HEADER: NAV-ICON / LABEL ====== */
.header__nav-icon,
.header__nav-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    vertical-align: middle;  
    opacity: .65;
    transition: opacity .25s ease;
    will-change: opacity, filter ;
}
.header__nav-icon    {  grid-area: icon;  }
.header__nav-label   {  grid-area: label;  white-space: pre-line;   }

@media (max-width: 900px) {
    .header__nav-label[data-visible="true"] { white-space: pre-wrap; text-align: center; }
    .header__nav-label[data-visible="false"]{ display: none; }
}


/* ===== FOOTER ===== */
.footer[data-visible="false"] {  grid-template-areas: "crumbs"; }
.footer[data-visible="true"]  {  grid-template-areas: "crumbs" "meta"; }
.footer :where(p)   { opacity: 0.75; }

.footer__crumbs,.footer__meta { padding-block: calc(.25 * var(--bars-padding)); }

/* ===== FOOTER: CRUMBS ===== */
.footer__crumbs {
    grid-area: crumbs;
    place-items: center;    
}
.footer__crumbs ol{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: var(--bars-gap);
    min-width: 0;
}
.footer__crumbs--seperator {
    display: inline-flex;
    align-items: center;
    transform: translateY(-10%);
    opacity: .5;
    pointer-events: none;   
}

/* ===== FOOTER: META ===== */
.footer__meta[data-visible="false"] {  display: none; }
.footer__meta[data-visible="true"]{
  display: grid;
  inline-size: 100%;
  grid-area: meta;
  border-top: 1px solid var(--color-dark--ghosty);
  grid-template-columns: 33% auto 33%; 
  grid-template-areas: 
    "col--left col--center col--right"; 
}
.footer__meta > .col--left   {  grid-area: col--left;    justify-self: start;  }
.footer__meta > .col--center {  grid-area: col--center;  justify-self: center;  }
.footer__meta > .col--right  {  grid-area: col--right;   justify-self: end;  }


