/* ====== HEADER ================= */

.header {
  position: sticky;
  top: 0;
  z-index: 1001;
  display: grid;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "top"
    "bottom";
  align-items: stretch;
  margin-block: 0;
  margin-inline: 0;
  gap: 0;
}
@media (max-width: 900px) {
  .header {
    border-radius: 0;
    justify-items: stretch;
    justify-content: stretch;
    padding: 0;
  }
}

.header[data-stuck] { padding: 0;} 
.header[data-stuck] :where(.header__bar--top) { 
  border-top-left-radius: 0;    
  border-top-right-radius: 0; 
}
.header[data-stuck] > .header__nav {
  border-top-right-radius: 0;
}
@media (max-width: 900px) {
  .header[data-stuck] :where(.header__nav-text)   { display: none; }
  .header[data-stuck] :where(.header__nav-item)   { gap: 0; }
  .header[data-stuck] :where(.header__nav-symbol) { transform: scale(1.15);}
}

/* ====== HEADER - BAR ================= */
.header__bar {
    grid-template-areas: "top" "bottom";
    display: inline-grid;
    position: relative;
    grid-template-columns: 1fr;
}
.header__bar + .header__bar {
  margin-block-start: var(--panel-bar-padding); 
}
@media (max-width: 900px) {
  .header__bar { border-radius: 0 ;  }
  .header__bar + .header__bar {margin-block-start: calc(var(--panel-bar-padding) * .4); } 
}

/* ====== HEADER - BAR: TOP ================= */
.header__bar--top {
  grid-area: top;
  /*grid-template-columns: auto 1fr;
  grid-template-areas: "logo nav";*/
  grid-template-columns: 1fr;
  grid-template-areas: "crumbs""nav";

  padding: 0;

}
@media (max-width: 900px) {
  .header__bar--top {
    grid-template-columns: 1fr;
    grid-template-areas: "nav";
    padding: 0;
  } 
}

/* ====== HEADER - NAV ================= */
.header__nav {
  inline-size: 100%;
  min-inline-size: 100%;
  block-size: 100%;
  margin: 0;

  padding-inline: calc(.5 * var(--panel-bar-padding));
  padding-block: calc(.75 * var(--panel-bar-padding));
  display: inline-flex;
  border-radius: 0 0 var(--radius-xl) var(--radius-xl);
  border: 1px solid var(--card-surface--dark);
  border-top: hidden;
  backdrop-filter: var(--blur-l) brightness(.95) saturate(1.15);
  
  background: radial-gradient(ellipse at top center,var(--card-surface--light),transparent 80%);
  transition: var(--transition--nav);
  box-shadow: var(--surface-shadow--strong);
}
@media (max-width: 900px) {
  .header__nav { 
    border-top-right-radius: 0;
    padding: 0;
  }
}
.header__nav > .control { 
  gap: 0;
  filter: none;
  block-size: 100% ;
}
@media (max-width: 900px) {
  .header__nav > .control {
    inline-size: 100%;
  }
}

/* ====== HEADER - NAV - ITEM ================= */
.header__nav-item {
  display: grid;
  grid-template-areas: "symbol label";
  gap: var(--control-gap);
  transition: var(--transition--nav);
  align-items: center;
  filter: drop-shadow(1px 2px 4px var(--color-shadow--strong));
}
@media (max-width: 900px) {
  .header__nav-item {
    grid-template-areas: "symbol" "label";
    align-items: stretch;
  }
}

/* ====== HEADER - NAV - TEXT / SYMBOL ========= */
.header__nav-text,
.header__nav-symbol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: .8;
  justify-self: center;
  white-space: nowrap;
}
.header__nav-symbol {  grid-area: symbol; }
.header__nav-text { 
  grid-area: label; 
  transform: translateY(0);
  transition: opacity .25s ease-in-out, transform .25s ease-in-out;
}
@media (max-width: 900px) {
  .header__nav-text {  white-space: pre-wrap; text-align: center; }
}

/* ====== HEADER - BAR: BOTTOM ================= */
.header__bar--bottom {
  grid-area: bottom;
  grid-template-areas: "crumbs";
  grid-template-columns: 1fr;
  justify-self: center;
  padding-inline: var(--panel-padding);
}
@media (max-width: 900px) {  
  .header__bar--bottom {
    margin: 0;
    inline-size: 100%;
  }
}
