/* ====== FOOTER ================= */
.footer {
  display: grid;
  
  position: sticky;
  bottom: 0;
  z-index: 1001;          /* nicht mehr sticky */
  grid-template-columns: 1fr;
  grid-template-areas: "nav";

  align-items: end;
  margin-block: var(--section-gap) 0;


  border-radius: var(--radius-xxl) var(--radius-xxl) 0 0;
  border: 1px solid var(--control-surface--dark);
  border-bottom: 0;
  
  backdrop-filter: var(--blur-l) brightness(1.15) saturate(1.05);
  box-shadow: var(--surface-shadow--default),
    inset 0 0 29px color-mix(in oklab, transparent 50%, var(--card-surface--dark));
}

.footer[data-visible="true"] { 
  grid-template-areas:
    "nav"
    "meta"; 
}

.footer :where(p)   { opacity: 0.75; }

@media (max-width: 900px) {
  .footer { border-radius: var(--radius-m) var(--radius-m) 0 0; }
}

/* ====== FOOTER NAV & ACTIONS ================= */
.footer__nav {
  display: grid;
  inline-size: 100%;
  padding-inline: var(--panel-bar-padding);
  grid-area: nav;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "crumbs";
  padding-block: calc(.75 * var(--panel-bar-padding));
}
@media (max-width: 900px) {
  .footer__nav {
      padding-block: var(--panel-bar-padding);    
   }
}
.footer__nav ol {
  grid-area: crumbs;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: calc(.5 * var(--control-gap));
  min-width: 0;
}

.footer__crumb-separator {
  display: inline-flex;
  align-items: center;
  transform: translateY(-10%);
  opacity: .5;
  pointer-events: none;
}

.footer__actions:empty {
  display: none;
}
.footer__actions {  
  align-self: center;
  justify-self: end;
}

/* ====== FOOTER META ================= */
.footer__meta[data-visible="false"] {  display: none; }
.footer__meta[data-visible="true"]{
  display: grid;
  inline-size: 100%;
  padding-inline: var(--panel-bar-padding);    
  padding-block-end: calc(.5 * var(--panel-bar-padding));
  grid-area: meta;
  grid-template-columns: 33% auto 33%; 
  grid-template-areas: 
    "l c r"; 
}
.footer__left   {  grid-area: l;    justify-self: start;  }
.footer__center {  grid-area: c;  justify-self: center;  }
.footer__right  {  grid-area: r;   justify-self: end;  }









