/* ====== HEADER ================= */

.header {
  position: sticky;
  top: 0;
  z-index: 1001;
  display: grid;
  padding: var(--panel-bar-padding);
  grid-template-columns: 1fr;
  grid-template-areas: 
    "top"
    "bottom";
  align-items: stretch;
  margin-block: 0;
  margin-inline: 0;
  gap: 0;
}

  .header[data-stuck] {
    grid-template-areas: "top";
    padding: 0;

  } 
  .header[data-stuck] :where(.header__bar--bottom) { display: none; }

  .header[data-stuck] :where(.header__bar--top) {     border-top-left-radius: 0;    border-top-right-radius: 0; }
@media (max-width: 900px) {
  .header {
    border-radius: 0;
    justify-items: stretch;
    justify-content: stretch;
    padding: 0;
  }
  .header[data-stuck] :where(.header__bar--bottom) { display: none; }
  .header[data-stuck] :where(.header__nav-item) { gap: 0; }
  .header[data-stuck] :where(.header__nav-symbol) { transform: scale(1.15);}
}

/* ====== HEADER - BAR ================= */
.header__bar {
    display: inline-grid;
    position: relative;
    grid-template-columns: 1fr;

}
.header__bar + .header__bar {margin-block-start: var(--panel-bar-padding); }
.header__bar--top {
  grid-area: top;
  /*grid-template-columns: auto 1fr;
  grid-template-areas: "logo nav";*/
  grid-template-columns: 1fr;
  grid-template-areas: "nav";
  padding-inline: var(--panel-padding);
  padding-block: calc(.75 * var(--panel-bar-padding));
  border-radius: 999px;
  backdrop-filter: var(--blur-m) brightness(1.5) saturate(.85);
  box-shadow: var(--surface-shadow--default);
}

.header__bar--bottom {
  grid-area: bottom;
  grid-template-areas: "crumbs";
  grid-template-columns: 1fr;

  justify-self: center;
  padding: 0;



}
@media (max-width: 900px) {
  .header__bar {
      border-radius: 0 ;
    }

  .header__bar--top {
  grid-template-columns: 1fr;
  grid-template-areas: "nav";
  padding: 0;
  } 
}


/* ====== HEADER - LOGO ================= */
@media (min-width: 900px) { 
  .header[data-stuck] {
    border-radius: 0;
  }
  .header[data-stuck] > .header__logo {
    border-radius: 0;
  }
  .header__logo {
    /*display: inline-flex;*/
    display: none;
    align-items:center;
    justify-content: right; 
    position: relative;
    grid-area: logo; 
    inline-size: 100%;
    block-size: 100%;
  }
  .header__logo img {
    display: block;
    block-size: auto;
    justify-self: flex-end;
    inline-size: var(--site-logo--size);
  }
}

/* ====== HEADER - NAV ================= */
.header__nav {
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  display: inline-flex;
  grid-area: nav;
  transition: var(--transition--nav);
}


.header[data-stuck] > .header__nav {
  border-top-right-radius: 0;
}
.header__nav.controls { 
  gap: 0;
  min-inline-size: 100%;
}
.header__nav > .button { 
  block-size: 100% ;
}


@media (max-width: 900px) {
  .header__nav { 
    border-top-right-radius: 0;
    padding: 0;
  }
  .header__nav.controls { 
    gap: 0;
    min-inline-size: 100%;
    filter: none;
  }
  .header__nav > .button { 
    inline-size: 100%;
  }
}

/* ====== HEADER - NAV - ITEM ================= */
.header__nav-item {
  display: grid;
  grid-template-areas: "symbol label";
  gap: var(--control-gap);
  transition: var(--transition--nav);
  align-items: center;
}

@media (max-width: 900px) {
  .header__nav-item {
    grid-template-areas: "symbol" "label";
    align-items: stretch;
  }

}

.header__nav-text,
.header__nav-symbol {
  display: inline;
  opacity: .8;
  justify-self: center;
  white-space: nowrap;
}


.header__nav-text {   grid-area: label;}
.header__nav-symbol {  grid-area: symbol; }
@media (max-width: 900px) {
  .header__nav-text {  white-space: pre-wrap; text-align: center; }
}


/* ====== HEADER - CRUMBS ================= */
.header__crumbs {
  text-shadow: var(--text-shadow--soft);
  margin-block: 0;
  margin-inline: 0;
  grid-area: crumbs;
  border-radius: 0;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--cluster-gap);
}

.header__actions:empty {
  display: none;
}
.header__actions {  
  grid-area: actions; 
  align-self: center;
  justify-self: end;
}

.header__crumbs ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--font-size-xs);
  color: var(--text-accent);
  text-shadow: var(--text-shadow--soft);
  min-width: 0;
}

.header__crumbs li,
.header__crumbs li .is-current {
  display: inline-flex;
  border-radius: 999px;
  padding-inline: var(--control-gap);
}

.header__crumbs,
.header__crumbs li {
  align-items: center;

}
.header__crumbs li :not(.is-current){
  opacity: .7;
 
}
.header__crumbs li .is-current {
  color: var(--text-color);
  text-shadow: var(--text-glow--strong);

  
  opacity: 1;
}
.header__crumbs ol > li + li::before { 
  margin-inline: -.25rem;
  content: "›"; 
  opacity: .65;
    padding-inline: 0;
}

