/* ====== HEADER ================= */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

@media (max-width: 900px) {
  .header[data-visible="false"] .header__nav-text {
    display: none;
  }
  .header[data-visible="false"] .header__nav-item {
    gap: 0;
    grid-template-areas: "symbol";
  }
}


/* ====== HEADER - NAV ================= */
.header__nav {
  inline-size: 100%;

  padding-inline: calc(.35 * var(--panel-bar-padding));
  padding-block: calc(.5 * var(--panel-bar-padding));

  border-radius: 0 0 var(--radius-xxl) var(--radius-xxl);
  border: 1px solid var(--card-surface--dark);
  border-top: 0;

  backdrop-filter: var(--blur-l) brightness(1.3) saturate(1.05);
  box-shadow:
    var(--surface-shadow--default),
    inset 0 0 29px color-mix(in oklab, transparent 50%, var(--card-surface--dark));
}
@media (max-width: 900px) {
  .header__nav {
    padding-inline: calc(.5 * var(--panel-bar-padding));
    padding-block: var(--panel-bar-padding);
    border-radius: 0 0 var(--radius-l) var(--radius-l);
  }
}


/* ====== HEADER - NAV - ITEM ================= */
.header__nav-item {
  display: grid;
  grid-template-areas: 
    "symbol label";
  gap: var(--control-gap);
  align-items: center;
  transition: var(--transition--nav);
}
@media (max-width: 900px) {
  .header__nav-item {
    inline-size: 100%;
    grid-template-areas: 
      "symbol" 
      "label";
  }
}

.header__nav-symbol,
.header__nav-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  opacity: .8;
  transition: opacity .25s ease-in-out, transform .25s ease-in-out;
}

.header__nav-symbol {
  grid-area: symbol;
}

.header__nav-text {
  grid-area: label;
  white-space: pre-line;
}

@media (max-width: 900px) {
  .header__nav-text {
    white-space: pre-wrap;
    text-align: center;
  }
}


