:root { 
  /* ============= Base Spacings / Radius ============= */
  --space-xxs:              0.25rem; 
  --space-xs:               0.50rem; 
  --space-s:                0.75rem; 
  --space-m:                1.00rem; 
  --space-l:                1.50rem; 
  --space-xl:               2.00rem; 
  --space-xxl:              3.00rem; 
  --space-xxxl:             4.00rem; 

  --radius-xxs:             6px;
  --radius-xs:              8px;
  --radius-s:               10px;
  --radius-m:               14px;
  --radius-l:               18px;
  --radius-xl:              36px;
  --radius-xxl:             72px;

  /* ============= Font & Other Sizes ================= */
  --font--display:     Grandstander, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font--fancy:   'Fuzzy Bubbles', var(--font--display);
  --font--signature:  'Beautiful Dream', var(--font--display);

  --font-weight-thin:        300;
  --font-weight-normal:      400;
  --font-weight-thick:       500;
  --font-weight-bold:        700;

  --line-height-xxs:        .8;
  --line-height-xs:         .9;
  --line-height-s:         1.0;
  --line-height-m:         1.1;
  --line-height-l:         1.2;
  --line-height-xl:        1.3;
  --line-height-xxl:       1.5;
  
  
  

  --letter-spacing-s:    .0065em;
  --letter-spacing-m:    clamp(.0065em, calc(0.225em + .01vw ), .0225em);
  --letter-spacing-l:    clamp(.0225em, calc(0.225em + .03vw ), .0525em);
  --letter-spacing-xl:    clamp(.0525em, calc(0.525em + .05vw ), .0650em);

  --font-size-xs:        clamp(.75rem, calc(.75rem + .025vw), .95rem);
  --font-size-s:         clamp(.9rem,  calc(.9rem + .075vw), 1.05rem);
  --font-size-m:         clamp(1.1rem, calc(1.1rem + .45vw), 1.5rem);
  --font-size-l:         clamp(1.4rem, calc(1.4rem + .4vw), 1.8rem);
  --font-size-xl:        clamp(1.75rem, calc(1.75rem + 1.5vw), 3rem);
  --font-size-xxl:       clamp(3rem, calc(3rem + 1.5vw), 3.6rem);

  --icon-size-s:        calc(var(--font-size-s) * 1.1);
  --icon-size-m:        calc(var(--font-size-m) * 1.15);
  --icon-size-l:        calc(var(--font-size-xl) * .95);

  --media-control-size: 2.75rem;
  --thumb-size:              clamp(64px, 9vw, 128px);
  --hero-scale:               clamp(1.05rem, 4.5vw, 2.25rem);

  /* ============= Role specific Spacings ============= */
  --flow-gap:               var(--space-xxs);  
  --card-gap:               var(--space-s);    
  --cluster-gap:            clamp(var(--space-xs),  calc(var(--space-xs) + .5vw),    var(--space-l));   
  --control-gap:            var(--space-xs);   
  --control-padding:        var(--space-s);  

  --card-padding:           clamp(var(--space-s),  calc(var(--space-s) + 1.5vw),  var(--space-xl));   
  --section-gap:            clamp(var(--space-xs),  calc(var(--space-xs) + 1.5vh),    var(--space-xl)); 
  
  --panel-padding:           clamp(var(--space-xs),  calc(var(--space-xs) + 2.5vw),    var(--space-xxxl));

  --bars-padding:       clamp(var(--space-xxs),  calc(var(--space-xxs) + 1.25vw),    var(--space-xl));
  --bars-gap:           var(--space-xxs);

  --container-padding:       clamp(var(--space-xxs),  calc(var(--space-xxs) + 2vw),    var(--space-xxl)); 
  --container-max:           1366px;
 
  /* ====== Base Colors ========================= */
  --color-dark:              oklch(19.5% 0.095 295);
  --color-dark--strong:      color-mix(in oklch, var(--color-dark) 70%, transparent);
  --color-dark--soft:        color-mix(in oklch, var(--color-dark) 50%, transparent);
  --color-dark--ghosty:      color-mix(in oklch, var(--color-dark) 30%, transparent);

  --color-light:             oklch(92% 0.125 295); 
  --color-light--strong:      color-mix(in oklch, var(--color-light) 70%, transparent);
  --color-light--soft:        color-mix(in oklch, var(--color-light) 50%, transparent);
  --color-light--ghosty:      color-mix(in oklch, var(--color-light) 30%, transparent);

  --color-accent--dark:      oklch(34% 0.16 300);
  --color-accent:            oklch(74% 0.145 300); 
  --color-accent--bright:    oklch(91% 0.07 300);

          

  /* ====== Base FX ==================== */  
  --text-shadow:             2px 2px 4px var(--color-dark--soft);
  --icon-shadow:             0 0 3px color-mix(in oklch,transparent 30%,currentColor);
  --text-glow:               1px 1px 2px var(--color-light--soft);

  --shadow--soft:    2px 2px 12px rgba(0,0,0,.39);
  --shadow--default: 0 0 18px -6px var(--color-dark--soft),0 0 18px -6px var(--color-dark--strong);
  --shadow--strong:  0 0 20px -10px var(--color-dark--soft),0 0 28px -6px var(--color-dark--strong),0 0 28px 0 var(--color-dark--strong);

  --blur-xxs:              blur(var(--radius-xxs));
  --blur-xs:              blur(var(--radius-xs));
  --blur-s:              blur(var(--radius-s));
  --blur-m:              blur(var(--radius-m));
  --blur-l:              blur(var(--radius-l));
  --blur-xl:              blur(var(--radius-xl));
  --blur-xxl:              blur(var(--radius-xxl));

  --outline:                 1px solid color-mix(in oklab, var(--color-light) 10%,transparent);;   


  /* ====== Card FX ====== */
  /* === Defaults ===*/
  --backdrop--card: var(--blur-m) brightness(1.35) saturate(1.05);
  --shadow--card: var(--shadow--default), inset 0 0 29px color-mix(in oklab,transparent 90%,var(--color-accent));
  --transition--card: transform .35s ease, filter .35s ease;

  /* === Interactive ===*/
  --filter--card:             brightness(1.1) saturate(1.1) drop-shadow(0 0 var(--color-dark));
  --filter--card-list:        drop-shadow(0 0 3px color-mix(in oklch,transparent,currentColor));
  --transform--card:  scale(1.05);
  

  /* ====== Controls FX ======*/
  /* === Defaults ===*/
  --base-filter--control-plain: drop-shadow(2px 2px 1px var(--color-dark--soft));
  --transition--control:         filter .4s ease, saturate .4s ease, box-shadow .5s ease, transform .25s ease;
  /* === Interactive ===*/
  --filter--control:          brightness(2);
  --filter--control-plain:    drop-shadow(0 0 0 var(--color-accent)) drop-shadow(2px 2px 2px var(--color-dark--strong));


  /* ====== Bars FX ======*/
  /* === Defaults ===*/
  /* === Interactive ===*/
  --filter--nav:              drop-shadow(0 0 3px color-mix(in oklch,transparent,currentColor)); 
  --transition--nav:             opacity .35s ease, transform .35s ease, brightness .5s ease, drop-shadow .5s ease-in-out;

  /* ====== Overlays / Filter Presets ============ */   
  --overlay--dim:      radial-gradient(ellipse at center,transparent 50%, var(--color-dark) 120%); 
  /* --overlay--nebula --overlay--stars  Def -> Base.astro */

  --bg--base:     linear-gradient(205deg, #371173, #240a46, rgb(40, 7, 112));
  --shadow--base: inset 0 0 164px 64px rgba(0,0,0,.5);
  --control-bg:  radial-gradient(ellipse at center, var(--color-accent--dark),var(--color-dark));
  /* ====== Gallery ====== */                                 
  --gallery-interval:           8500ms;  

  /* ====== Motion ====== */
  --transition--interactive:     color .2s ease, text-shadow .2s ease;



  --transition--raise:           transform .35s ease-in-out, box-shadow .2s ease;

  --transition--opacity:         opacity .5s ease-in-out;

  --transform-raise:             translateY(-10%);
  --transform-scale:             scale(1.05);
}
