:root { 
  /* ====== Base Spacings / Radius ============= */
  --space-xxs:              0.25rem; 
  --space-xs:               0.50rem; 
  --space-s:                0.75rem; 
  --space-m:                1.00rem; 
  --space-l:                1.50rem; 
  --space-xl:               2.00rem; 
  --space-xxl:              3.00rem; 

  --radius-xxs:             6px;
  --radius-xs:              8px;
  --radius-s:               10px;
  --radius-m:               14px;
  --radius-l:               18px;
  --radius-xl:              24px;
  --radius-xxl:             32px;

  /* ====== Role specific Spacings ============= */
  --flow-gap:               var(--space-xxs);  
  --card-gap:               var(--space-s);    
  --cluster-gap:            var(--space-xs);   
  --control-gap:            var(--space-xs);   
  --control-padding:        var(--space-xs);  

  --nav-gap--column:        clamp(var(--space-s),calc(var(--space-s) + 1.5vw),var(--space-xl));
  --nav-gap--row:           var(--space-xs);

  --card-padding:           clamp(var(--space-s),  calc(var(--space-s) + 1.75vw),  var(--space-xl));   
  --section-gap:            clamp(var(--space-s),  calc(var(--space-s) + 1.5vw),    var(--space-xxl)); 
  
  --panel-padding:           clamp(var(--space-s),  calc(var(--space-s) + 1.5vw),    var(--space-xxl)); 
  --panel-bar-padding:       calc(var(--panel-padding) * .5);
 
  --container-padding:       clamp(var(--space-xxs),  calc(var(--space-xxs) + 2vw),    var(--space-xxl)); 
  --container-max:           1280px;
  
  --site-logo--size:         calc(var(--nav-gap--row) * 2 + var(--font-size-m));
  --thumb-size:              clamp(64px, 9vw, 128px);
  --hero-size:               clamp(320px,42vw,calc(var(--container-max) * .45));
  --icon-size:               1.75em;
  --gallery-frame-size: calc(
    (var(--container-max) -
      (var(--card-padding) * 2 + var(--panel-padding) * 2 )
    )
  );
  
  --gallery-frame-size--2-cols: calc(
    (var(--container-max) -
      (var(--container-padding) * 2 + var(--card-padding) * 4 + var(--panel-padding) * 2 + var(--section-gap) )
    ) / 2
  );
    --gallery-frame-size--3-cols: calc(
    (var(--container-max) -
      (var(--container-padding) * 2 + var(--card-padding) * 6 + var(--panel-padding) * 2 + var(--section-gap) * 2)
    ) / 3
  );    
  --media-frame-aspect: 1 / 1;
  --media-frame-mobile-inline-limit: calc(50vh * (1 / 1));
  /* ====== Base Colors ========================= */
  --color-dark:              oklch(20% 0.11 295);
  --color-light:             oklch(92% 0.18 295); 
  --color-accent:            oklch(80% 0.24 295); 
  --color-outline:            color-mix(in oklab, var(--color-dark)60%,transparent);
  --color-shadow--soft:       color-mix(in oklch, var(--color-dark) 30%, transparent);
  --color-shadow--strong:     color-mix(in oklch, var(--color-dark) 60%, transparent);
  --color-glow--soft:         color-mix(in oklch, var(--color-light) 40%, var(--color-accent));
  --color-glow--strong:        color-mix(in oklch, var(--color-light) 60%, var(--color-accent));

  /* ====== Text Colors & FX ==================== */
  --text-color:              color-mix(in oklch, var(--color-light) 85%, white);
  --text-accent:             color-mix(in oklab, var(--color-light) 85%, var(--color-accent));
  --text-highlight:          color-mix(in oklab, var(--color-light) 65%, var(--color-accent));

  --text-shadow--soft:       1px 1px 1px var(--color-shadow--soft);  
  --text-shadow--strong:     2px 2px 2px var(--color-shadow--strong);
  --icon-shadow:             3px 4px 3px var(--color-shadow--strong);

  --text-glow--soft:         1px 1px 1px var(--color-glow--soft);
  --text-glow--strong:       1px 1px 2px var(--color-glow--strong);

  /* ====== Surface / Control Colors & FX ======= */  
  --card-surface--dark:      color-mix(in oklab,var(--color-dark) 60%, transparent);
  --card-surface--light:     color-mix(in oklab,var(--color-light) 29%, transparent);

  --control-surface--light:              color-mix(in oklch, oklch(78% 0.18 295) 99%, transparent);
  --control-surface--light--highlight:   color-mix(in oklch, var(--control-surface-light) 94%, var(--color-light)); 
  --control-surface--dark:            color-mix(in oklch,var(--color-dark)99%,transparent);
  --control-surface--dark--highlight: color-mix(in oklab,var(--control-surface--dark) 94%, var(--color-dark));
  
  --control-glow:  inset 0 0 1px 2px var(--color-glow--soft);
  --control-glow--soft:inset 0 0 2px 1px var(--color-glow--soft);
  --control-glow--active: 0 0 4px 2px var(--color-glow--soft);
  --control-glow--hover:  0 0 4px 2px var(--color-glow--strong);

  --surface-shadow--soft:    1px 2px 4px 0px var(--color-shadow--soft);
  --surface-shadow--default: 0 0 18px -10px var(--color-shadow--soft),0 0 24px -6px var(--color-shadow--strong);
  --surface-shadow--strong:  0 0 20px -10px var(--color-shadow--soft),0 0 28px -6px var(--color-shadow--strong),0 0 14px 0 color-mix(in srgb, black 95%, transparent);

  --control-shadow--inset: inset 0 0 24px 0 var(--color-shadow--soft),inset 0 0 0 1px var(--color-shadow--strong);

  --surface-glow:      0 0 8px 0 var(--color-glow--strong), inset 0 0 1px 2px var(--color-glow--strong);
  --surface-glow--soft:0 0 6px 0 var(--color-glow--soft);
 
  --blur-s:              blur(var(--radius-s));
  --blur-m:           blur(var(--radius-m));
  --blur-l:            blur(var(--radius-l));

  --outline:                 2px solid var(--color-outline); 

  /* ====== Overlays / Filter Presets ============ */   
  --background-overlay:      radial-gradient(ellipse at center, transparent 30%, black 120%); 
  --panel-bg:                radial-gradient(ellipse at center, transparent 40%, rgba(0,0,0,.65)120%),
                             linear-gradient(135deg,oklch(35% .19 285/60%)33%,oklch(43.474% 0.20015 317.691/60%)53%,oklch(40.655% 0.23003 284.249 / 0.728)80%),
                             radial-gradient(1200px 900px at top left, oklch(75% 0.20 285 / .36), transparent 74%),
                             radial-gradient(1100px 800px at center right, oklch(42% 0.22 305 / .28), transparent 72%),
                             linear-gradient(to top, oklch(60% 0.20 230 / .96), transparent 54%);
  --site-logo--filter:       drop-shadow(0 3px 2px var(--color-shadow--strong)); 

  /* ====== Font Styles ====== */
  --primary-font-family:     Grandstander, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --secondary-font-family:   'Fuzzy Bubbles', var(--primary-font-family);

  --thin-font-weight:        300;
  --normal-font-weight:      400;
  --thick-font-weight:       500;
  --bold-font-weight:        700;

  --font-size-xs:        clamp(.75rem, calc(.75rem + .025vw), .95rem);
  --font-size-s:         clamp(.9rem,  calc(.9rem + .075vw), 1.05rem);
  --font-size-m:        clamp(1rem, calc(1rem + .35vw), 1.45rem);
  --font-size-l:         clamp(1.4rem, calc(1.4rem + .4vw), 1.8rem);
  --font-size-xl:        clamp(1.75rem, calc(1.75rem + 1.5vw), 3rem);

  --line-height-xs:      1;
  --line-height-s:       1.5;
  --line-height-m:      1.35;
  --line-height-l:       1.225;
  --line-height-xl:      1.2;

  --letter-spacing-s:    .0065em;
  --letter-spacing-m:   clamp(.0065em, calc(0.225em + .01vw ), .0225em);
  --letter-spacing-l:    clamp(.0225em, calc(0.225em + .03vw ), .0525em);
  --letter-spacing-xl:    clamp(.0525em, calc(0.525em + .05vw ), .0650em);

  /* ====== Gallery ====== */
  --kenburns-offset:            clamp(8rem, 20vh, 25rem);
  --kenburns-offset--compact:   clamp(8rem, 20vh, 25rem);                                  
  --gallery-interval:           8000ms;  
  --gallery-interval--compact:  6000ms;

  /* ====== Motion ====== */
  --transition-interactive:     color .2s ease, text-shadow .2s ease;
  --transition-raise:           transform .35s ease-in-out, box-shadow .2s ease;
  --transition-brightness:      filter .5s ease-in-out;
  --transition-glow:            color .2s ease, text-shadow .2s ease, transform .2s ease, box-shadow .2s ease;
  --transition-soft:            opacity .25s ease, transform .25s ease, background .25s ease, box-shadow .25s ease;
  --transition-nav:             transform .5s ease-in-out, text-shadow .5s ease-in-out, opacity .5s ease-in-out, filter .5s ease-in-out;
  --transition-scale:           transform .5s ease-in-out;

  
  --backdrop-brightness:        brightness(1.5);
  --transform-raise:            translateY(-5px) scale(1.04);
  --transform-raise--soft:      translateY(-1px) scale(1.01);
  --transform-raise--strong:      translateY(-10%);
  --transform-scale:            scale(1.07);
}
