:root { 
  /* ============= Base Spacings / Radius ============= */
  --space-xxs:                      0.25rem; 
  --space-xs:                       0.50rem; 
  --space-s:                        0.75rem; 
  --space-m:                        1.00rem; 
  --space-l:                        1.50rem; 
  --space-xl:                       2.00rem; 
  --space-xxl:                      3.00rem; 
  --space-xxxl:                     4.00rem; 

  --radius-xxs:                     6px;
  --radius-xs:                      8px;
  --radius-s:                       10px;
  --radius-m:                       14px;
  --radius-l:                       18px;
  --radius-xl:                      36px;
  --radius-xxl:                     72px;


  /* ============= Font & Other Sizes ================= */
  --font-display:                  Grandstander, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-fancy:                    'Fuzzy Bubbles', var(--font-display);
  --font-signature:                'Beautiful Dream', var(--font-display);

  --font-weight-thin:               300;
  --font-weight-normal:             400;
  --font-weight-thick:              500;
  --font-weight-bold:               700;

  --line-height-xxs:                 .8;
  --line-height-xs:                  .9;
  --line-height-s:                  1.0;
  --line-height-m:                  1.1;
  --line-height-l:                  1.2;
  --line-height-xl:                 1.3;
  --line-height-xxl:                1.5; 

  --letter-spacing-s:               .0065em;
  --letter-spacing-m:               clamp(.0065em, calc(0.225em + .01vw ), .0225em);
  --letter-spacing-l:               clamp(.0225em, calc(0.225em + .03vw ), .0525em);
  --letter-spacing-xl:              clamp(.0525em, calc(0.525em + .05vw ), .0650em);

  --font-size-xs:                   clamp(.75rem, calc(.75rem + .025vw), .95rem);
  --font-size-s:                    clamp(.9rem,  calc(.9rem + .075vw), 1.05rem);
  --font-size-m:                    clamp(1.1rem, calc(1.1rem + .45vw), 1.5rem);
  --font-size-l:                    clamp(1.4rem, calc(1.4rem + .35vw), 1.8rem);
  --font-size-xl:                   clamp(1.75rem, calc(1.75rem + 1.5vw), 3rem);
  --font-size-xxl:                  clamp(3rem, calc(3rem + 1.5vw), 3.6rem);

  --icon-size-s:                    calc(var(--font-size-s) * 1.075);
  --icon-size-m:                    calc(var(--font-size-m) * 1.1);
  --icon-size-l:                    calc(var(--font-size-xl) * .95);


  
  --header-label-size:              clamp(var(--font-size-xs), calc(.75rem + .85vw), var(--font-size-xl));
  --header-icon-size:               clamp(var(--icon-size-s), calc(.8rem + .875vw), var(--icon-size-l));
  --header-icon-size--fx:           calc(var(--header-icon-size) * 1.75);
  --header-icon-transform:          translateY(-.05em);
  --header-icon-transform--fx:      translateY(0);

  /* ============= Role specific Spacings ============= */


  /* ====== Base ======*/
  --flow-gap:                       var(--space-xs);

  --blockquote-bg:                  color-mix(in oklab, var(--content-background) 4%, transparent);
  --blockquote-border:              3px solid var(--color-accent);

  --base-bg:                        linear-gradient(205deg, #371173, #240a46, rgb(40, 7, 112));
  --base-shadow:                    inset 0 0 164px 64px rgba(0,0,0,.5);

  --section-gap:                    clamp(var(--space-xs),  calc(var(--space-xs) + 1.5vh),    var(--space-xl));
  --container-padding:              clamp(var(--space-xxs),  calc(var(--space-xxs) + 2vw),    var(--space-xxl));


  /* ====== Base Colors ========================= */
  --color-dark:                   oklch(19.5% 0.095 295);
  --color-dark--strong:             color-mix(in oklch, var(--color-dark) 70%, transparent);
  --color-dark--soft:               color-mix(in oklch, var(--color-dark) 50%, transparent);
  --color-dark--ghosty:             color-mix(in oklch, var(--color-dark) 30%, transparent);

  --color-light:                  oklch(92% 0.125 295); 
  --color-light--strong:            color-mix(in oklch, var(--color-light) 70%, transparent);
  --color-light--soft:              color-mix(in oklch, var(--color-light) 50%, transparent);
  --color-light--ghosty:            color-mix(in oklch, var(--color-light) 30%, transparent);

  --color-accent:                 oklch(74% 0.145 300); 
  --color-accent--strong:           color-mix(in oklch, var(--color-accent) 70%, transparent);
  --color-accent--soft:             color-mix(in oklch, var(--color-accent) 50%, transparent);
  --color-accent--ghosty:           color-mix(in oklch, var(--color-accent) 30%, transparent);

  --color-accent-dark:              oklch(30% 0.15 295);
  --color-accent-dark--strong:      color-mix(in oklch, var(--color-accent-dark) 70%, transparent);
  --color-accent-dark--soft:        color-mix(in oklch, var(--color-accent-dark) 50%, transparent);
  --color-accent-dark--ghosty:      color-mix(in oklch, var(--color-accent-dark) 30%, transparent);

  --color-accent-light:             oklch(91% 0.07 300);
  --color-accent-light--strong:     color-mix(in oklch, var(--color-accent-light) 70%, transparent);
  --color-accent-light--soft:       color-mix(in oklch, var(--color-accent-light) 50%, transparent);
  --color-accent-light--ghosty:     color-mix(in oklch, var(--color-accent-light) 30%, transparent);
          

  /* ====== Base FX ==================== */  
  --text-shadow:                    2px 2px 4px var(--color-dark--soft);
  --icon-shadow:                    0 0 3px color-mix(in oklch,transparent 30%,currentColor);
  --text-glow:                      1px 1px 2px var(--color-light--soft);

  --drop-shadow--soft:           drop-shadow(2px 2px 4px var(--color-dark--ghosty));
  --drop-shadow--default:           drop-shadow(2px 2px 4px var(--color-dark--soft));
  --drop-shadow--strong:           drop-shadow(2px 2px 4px var(--color-dark--strong));

  --shadow--soft:                   2px 2px 16px -6px rgba(0,0,0,.65);

  --shadow--default:                0 0 18px -6px var(--color-dark--soft),
                                    0 0 18px -6px var(--color-dark--strong);

  --shadow--strong:                 0 0 20px -10px var(--color-dark--soft),
                                    0 0 28px -6px var(--color-dark--strong),
                                    0 0 28px 0 var(--color-dark--strong);

  --glow--default:                  drop-shadow(0 0 4px var(--color-accent--strong)) ;

  --blur-xxs:                       blur(var(--radius-xxs));
  --blur-xs:                        blur(var(--radius-xs));
  --blur-s:                         blur(var(--radius-s));
  --blur-m:                         blur(var(--radius-m));
  --blur-l:                         blur(var(--radius-l));
  --blur-xl:                        blur(var(--radius-xl));
  --blur-xxl:                       blur(var(--radius-xxl));

  --overlay-dim:                    radial-gradient(ellipse at center,transparent 50%, var(--color-dark) 120%); 


  /* ====== Motion ====== */
  --transition-transform:           transform ease-out .25s, font-size ease-out .25s, max-height ease-out .25s;
  --transition-fade-in:             opacity ease-out .25s;
  --transition-fade-in--slow:       opacity ease-out .45s;
  --transition-fade-out:            opacity ease-in .25s;
  --transition-fade-out--slow:      opacity ease-in .45s;
  --transition-fx:                  color .25s ease,        text-shadow .25s ease,        box-shadow .25s ease,        filter .25s ease,        background .25s ease;
  --transition-fx--slow:            color .45s ease-in-out, text-shadow .45s ease-in-out, box-shadow .45s ease-in-out, filter .45s ease-in-out, background .45s ease-in-out;
  
  --transform-raise:                translateY(-15%);
  --transform-grow:                 scale(1.05);
  --transform-grow--strong:         scale(1.15);
  --transform-shrink:               scale(.95);
  --transform-shrink--strong:       scale(.85);
  
  

  /* ====== Card FX ====== */
  --card-gap:                       var(--space-s);
  --card-padding:                   clamp(var(--space-s),  calc(var(--space-s) + 1.5vw),  var(--space-xl));
  --card-backdrop:                  var(--blur-m) brightness(1.35) saturate(1.05);
  --card-shadow:                    var(--shadow--default), 
                                    inset 0 0 29px color-mix(in oklab,transparent 90%,var(--color-accent));
  --card-transition:                var(--transition-fx--slow), var(--transition-transform);
  --card-transform--fx:             var(--transform-grow);
  --card-filter--fx:                brightness(1.1) saturate(1.1) drop-shadow(0 0 var(--color-dark));

  --card-list-bg:                   var(--color-dark--soft);
  --card-list-bg--fx:               var(--color-dark--strong);
  --card-list-shadow:               var(--shadow--soft);
  --card-list-filter--fx:           var(--glow--default);
  --card-list-transition:           var(--transition-fx--slow), var(--transition-fade-in);
  --card-list-will-change:          opacity, background;

  --card-overlay-backdrop:          var(--blur-xl);
  --card-overlay-shadow:            inset 0 0 59px var(--color-dark--ghosty);
  --card-overlay-transition:        var(--transition-fade-in--slow);
  --card-overlay-will-change:       opacity;
  --card-overlay-transition--fx:    var(--transition-fade-out--slow);

  

  /* ====== Controls ======*/
  --control-gap:                    clamp(var(--space-xxs),  calc(var(--space-xxs) + .15rem),    var(--space-xs));
  --control-padding:                var(--space-s);

  --control-bg:                     radial-gradient(ellipse at center,var(--color-accent-dark),var(--color-dark));
  --control-filter--fx:             brightness(1.5);
  --control-filter--legacy-fx:      brightness(1.08);
  --control-filter--legacy-active:  brightness(0.92);
  --control-transition:             var(--transition-fx),var(--transition-transform);
  --control-transform--fx:          var(--transform-grow);

  --control-plain-transition:       var(--transition-fx),var(--transition-fade-in);
  --control-plain-transition--fx:   var(--transition-fx),var(--transition-fade-out);
  --control-plain-filter:           drop-shadow(2px 2px 1px var(--color-dark--soft));
  --control-plain-filter--fx:       drop-shadow(0 0 0 var(--color-accent)) 
                                    drop-shadow(2px 2px 2px var(--color-dark--strong));
  

  /* ====== Bars ======*/
  --bars-padding:                   clamp(var(--space-xxs),  calc(var(--space-xxs) + 1.25vw),    var(--space-xl));
  --bars-gap:                       var(--space-xxs);

  --bars-border:                    1px solid var(--color-dark--ghosty);
  --bars-shadow:                    var(--shadow--default), 
                                    inset 0 0 29px var(--color-dark--soft);
  --bars-backdrop:                  var(--blur-l) brightness(1.2) saturate(1.05);

  --header-transition:              var(--transition-fx), padding-block .4s ease;
  --header-will-change:             transform, filter;

  --header-item-shadow:             none;
  --header-item-filter:             var(--drop-shadow--default);
  --header-item-filter--fx:         var(--glow--default);
  --header-item-backdrop:           none;
  --header-item-transform:          var(--transform-raise);
  --header-item-transition:         var(--transition-fx), var(--transition-transform);
  --header-item-will-change:        transform, filter;

  --header-icon-transition:         var(--transition-transform);
  --header-icon-will-change:        font-size;
  
  --header-label-transition:        var(--transition-transform);
  --header-label-will-change:       opacity, filter , transform, max-height;
  --header-label-transform--show:   translateY(0);
  --header-label-transform--hide:   var(--transform-raise);

  --footer-meta-border:             1px solid var(--color-dark--ghosty);
  --footer-separator-transform:     translateY(-12%);
  --footer-meta-transform--fx:      translateY(6px);
  --footer-meta-transition:         var(--transition-fx), var(--transition-transform);
  

  /* ====== Panel ======*/
  --panel-size:                     1366px;
  --panel-padding:                  clamp(var(--space-xs),  calc(var(--space-xs) + 2.5vw),    var(--space-xxxl));

  --panel-shadow:                   var(--shadow--strong), inset 0 0 56px 0 var(--color-dark);
  --panel-outline:                  1px solid var(--color-dark);
  --panel-base-transform:           translateZ(0);
  --panel-base-will-change:         transform;

  /* ====== Media ====== */
  --media-control-size:             2.75rem;
  --thumb-size:                     clamp(64px, 9vw, 128px);

  --media-animation-interval:       8500ms;

  --media-icon-filter:              var(--glow--default);

  --media-controls-outline:         1px solid var(--color-dark--soft);
  --media-frame-shadow:             var(--shadow--soft);

  --media-thumb-shadow:             var(--shadow--soft);
  --media-thumb-transform:          var(--transform-grow);
  --media-thumb-transition:         var(--transition-fade-in), var(--transition-transform);
  --media-thumb-will-change:        opacity, transform;

  --media-image-placeholder-bg:     var(--color-dark--soft);
  --media-image-transition:         opacity .7s ease;
  --media-image-will-change:        opacity, transform, top, bottom;

  --media-lightbox-bg:              var(--color-dark);
  --media-lightbox-shadow:          var(--shadow--strong);
  
  --media-lightbox-transition:      var(--transition-fade-in);
  --media-lightbox-close-bg:        var(--color-dark--soft);
  --media-lightbox-close-transition:var(--transition-fade-out);
  --media-lightbox-figure-transform:var(--transform-shrink);

  --media-progress-bg:              var(--color-light--ghosty);
  --media-progress-fill-bg:         var(--color-light);
  --media-progress-transition:      transform .12s linear;

  --media-raise-will-change:        opacity;

  /* ====== Tables ====== */
  --table-head-bg:                  var(--color-dark--soft);
  --table-row-alt-bg:               var(--color-dark--soft);
}
