:root { 
  /* ============= Base Spacings / Radius ============= */
  --space-xxs:              0.25rem; 
  --space-xs:               0.50rem; 
  --space-s:                0.75rem; 
  --space-m:                1.00rem; 
  --space-l:                1.50rem; 
  --space-xl:               2.00rem; 
  --space-xxl:              3.00rem; 
  --space-xxxl:             4.00rem; 

  --radius-xxs:             6px;
  --radius-xs:              8px;
  --radius-s:               10px;
  --radius-m:               14px;
  --radius-l:               18px;
  --radius-xl:              36px;
  --radius-xxl:             72px;
  /* ============= Font & Other Sizes ================= */
  /* ====== Font Styles ====== */
  --primary-font-family:     Grandstander, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --secondary-font-family:   'Fuzzy Bubbles', var(--primary-font-family);

  --thin-font-weight:        300;
  --normal-font-weight:      400;
  --thick-font-weight:       500;
  --bold-font-weight:        700;

  --line-height-xs:      .85;
  --line-height-s:       1.5;
  --line-height-m:      1.35;
  --line-height-l:       1.225;
  --line-height-xl:      1.2;

  --letter-spacing-s:    .0065em;
  --letter-spacing-m:    clamp(.0065em, calc(0.225em + .01vw ), .0225em);
  --letter-spacing-l:    clamp(.0225em, calc(0.225em + .03vw ), .0525em);
  --letter-spacing-xl:    clamp(.0525em, calc(0.525em + .05vw ), .0650em);

  --font-size-xs:        clamp(.75rem, calc(.75rem + .025vw), .95rem);
  --font-size-s:         clamp(.9rem,  calc(.9rem + .075vw), 1.05rem);
  --font-size-m:        clamp(1rem, calc(1rem + .35vw), 1.45rem);
  --font-size-l:         clamp(1.4rem, calc(1.4rem + .4vw), 1.8rem);
  --font-size-xl:        clamp(1.75rem, calc(1.75rem + 1.5vw), 3rem);

  --icon-size-s:        calc(var(--font-size-s) * 1.1);
  --icon-size-m:        calc(var(--font-size-m) * 1.4);
  --icon-size-l:        calc(var(--font-size-xl) * .95);


  --thumb-size:              clamp(64px, 9vw, 128px);
  --hero-size:               clamp(320px,30vw,calc(var(--container-max) * .3));
  

  /* ============= Role specific Spacings ============= */
  --flow-gap:               var(--space-xxs);  
  --card-gap:               var(--space-s);    
  --cluster-gap:            clamp(var(--space-xs),  calc(var(--space-xs) + .5vw),    var(--space-l));   
  --control-gap:            var(--space-xs);   
  --control-padding:        var(--space-s);  

  --card-padding:           clamp(var(--space-s),  calc(var(--space-s) + 1.5vw),  var(--space-xl));   
  --section-gap:            clamp(var(--space-xs),  calc(var(--space-xs) + 1.5vh),    var(--space-xl)); 
  
  --panel-padding:           clamp(var(--space-xs),  calc(var(--space-xs) + 2.5vw),    var(--space-xxxl)); 
  --bars-padding:       clamp(var(--space-xxs),  calc(var(--space-xxs) + 1.25vw),    var(--space-xl));
 
  --container-padding:       clamp(var(--space-xxs),  calc(var(--space-xxs) + 2vw),    var(--space-xxl)); 
  --container-max:           1366px;
  
   


  /* ====== Base Colors ========================= */
  --color-dark:              oklch(21% 0.095 295);
  --color-light:             oklch(92% 0.125 295); 
  --color-accent:            oklch(74% 0.145 295);          
  --color-shadow--soft:       color-mix(in oklch, var(--color-dark) 30%, transparent);
  --color-shadow--strong:     color-mix(in oklch, var(--color-dark) 50%, transparent);
  --color-glow--soft:         color-mix(in oklch, var(--color-accent) 55%, transparent);
  --color-glow--strong:        color-mix(in oklch, var(--color-accent) 80%, transparent);

  /* ====== Text Colors & FX ==================== */
  --text-color:              color-mix(in oklch, var(--color-light) 85%, white);
  --text-accent:             color-mix(in oklab, var(--color-accent) 40%, white);
  --text-highlight:          color-mix(in oklab, var(--color-light) 65%, var(--color-accent));

  --text-shadow--soft:       1px 2px 1px var(--color-shadow--soft);  
  --text-shadow--strong:     1px 2px 1px var(--color-shadow--strong);
  --icon-shadow:             3px 4px 3px var(--color-shadow--strong);

  --text-glow--soft:         1px 1px 2px var(--color-glow--soft);
  --text-glow--strong:       1px 1px 2px var(--color-glow--strong);

  /* ====== Surface / Control Colors & FX ======= */  
  --card-surface--dark:      color-mix(in oklab,var(--color-dark) 51%, transparent);
  --card-surface--light:     color-mix(in oklab,var(--color-light) 19%, transparent);

  --control-surface--light:           color-mix(in oklab,var(--color-accent) 90%, transparent);
  --control-surface--dark:            color-mix(in oklch, var(--color-dark)90%,transparent);
  
  --control-glow:            inset 0 0 1px 2px var(--color-glow--soft);

  --surface-shadow--soft:    1px 2px 4px 0px var(--color-shadow--soft);
  --surface-shadow--default: 0 0 18px -10px var(--color-shadow--soft),0 0 24px -6px var(--color-shadow--strong);
  --surface-shadow--strong:  0 0 20px -10px var(--color-shadow--soft),0 0 28px -6px var(--color-shadow--strong),0 0 28px 0 var(--color-shadow--strong);

  --control-shadow--inset: inset 0 0 99px 0 var(--color-shadow--strong);
  --card-shadow--inset: inset 0 0 24px 2px var(--color-shadow--soft),inset 0 0 0 1px var(--color-shadow--strong);

  --surface-glow--strong:   0 0 2px 2px var(--color-glow--strong),inset   0 0 96px 0 var(--color-glow--soft);
  --surface-glow--soft:     inset   0 0 12px 1px var(--color-glow--soft);
  
  --blur-xxs:              blur(var(--radius-xxs));
  --blur-xs:              blur(var(--radius-xs));
  --blur-s:              blur(var(--radius-s));
  --blur-m:              blur(var(--radius-m));
  --blur-l:              blur(var(--radius-l));
  --blur-xl:              blur(var(--radius-xl));
  --blur-xxl:              blur(var(--radius-xxl));

  --outline:                 1px solid color-mix(in oklab, var(--color-light) 10%,transparent);; 

  /* ====== Overlays / Filter Presets ============ */   
  --overlay--dim:      radial-gradient(ellipse at center,transparent 50%, var(--color-dark) 120%); 
  /* --overlay--nebula === Def -> Base.astro */
  /* --overlay--stars  === Def -> Base.astro */




  /* ====== Gallery ====== */                                 
  --gallery-interval:           8000ms;  

  /* ====== Motion ====== */
  --transition--interactive:     color .2s ease, text-shadow .2s ease;
  
  --transition--raise:           transform .35s ease-in-out, box-shadow .2s ease;
  --transition--brightness:      filter .5s ease-in-out;
  --transition--scale:           transform .25s ease;

  --transition--glow:            color .2s ease, text-shadow .2s ease, transform .2s ease, box-shadow .2s ease;
  --transition--card:            opacity .25s ease, transform .25s ease, background .25s ease, box-shadow .25s ease;
  --transition--control:        box-shadow .25s ease,
                                backdrop-filter .25s ease,
                                font-weight .25s ease,
                                opacity .25s ease,
                                transform .25s ease;
                                

  --transition--opacity:          opacity .5s ease-in-out;
  
  --backdrop-brightness:        brightness(1.5);
  --transform-raise:            translateY(-10%);
  --transform-raise--soft:      translateY(-5%);
  --transform-raise--strong:    translateY(-15%);
  --transform-scale:            scale(1.05);
  --transform-scale--soft:      scale(1.025);
}
