:root {
  --hero-scale: clamp(.55rem, calc(.55rem + 2.25vw), 2.35rem);

  --hero-filter:                    contrast(1.3) saturate(1.02) brightness(.98) drop-shadow(.1em .1em .125em black);
  
  --hero-text-filter:               drop-shadow(.01em .01em .125em var(--color-dark)) drop-shadow(.005em .005em 1.2em color-mix(in oklch,currentColor,transparent 70%));
}
.hero {
  position: relative;
  isolation: isolate;
  display: grid;
  place-items: center;
  font-size: var(--hero-scale);
  min-inline-size: 18em;
  inline-size: min(100%, 26em);
  block-size: 11em;
  mix-blend-mode: screen;
  filter: var(--hero-filter) var(--hero-text-filter);
}

.hero__backdrop {
  position: fixed;
  inset: 0;
  filter: drop-shadow( .1em .1em black);
  opacity: .9;
  background-image: var(--hero--bg);
  background-position: 7.05em 2.2em;
  background-size: 8.25em;
  background-repeat: no-repeat;
  
  animation-name: fly-in, fly-up-down;
  animation-delay: .5s, 4s;
  animation-duration: 3.5s, 2.5s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1), cubic-bezier(.42, 0, .58, 1);
  z-index: 0;
}
@media(max-width: 720px) {.hero__backdrop {transform: translateX(-1.25em);}}
@keyframes fly-in {
  0% {
    background-position: -4em -6.5em;
    background-size: .25em;
  }
  50% {
    background-position: 4.25em 4em;
    background-size: 5.25em;
  }
  100% {
    background-position: 7.05em 0em;
  }
}

@keyframes fly-up-down {
  0%, 100% {
    background-position-y: 0em;
  }
  50% {
    background-position-y: 2.8em;
  }
}
.hero__backdrop::after {
  --hero-nebula-pos: 50%;
  content: "";
  position: absolute;
  inset: 0;
  margin-inline: auto;
  inline-size: 100%;
  block-size: 100%;
  mix-blend-mode: luminosity;
  background-position: center,50% var(--hero-nebula-pos);
  background-size: auto,100% 100%;
  background-repeat: repeat,no-repeat;
  background-blend-mode: screen,screen;
  background-image: 
    var(--overlay-stars--dense),
    radial-gradient(
    ellipse at 50% var(--hero-nebula-pos),
    rgba(251, 0, 255, 0.09),
    rgba(140, 0, 255, 0.09) 35%,
    transparent 70%
  );
  pointer-events: none;
  z-index: -1;
}

.hero__content {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  pointer-events: none;;
  
  
}

.hero__grid {
  display: grid;
  grid-template-areas:
    "welcome signature"
    "main main";
  column-gap: clamp(2.5em, 4vw, 5em);
  row-gap: clamp(.6em, 1vw, 1.2em);
  align-items: center;
  justify-items: center;
  text-align: center;
}

.hero__welcome {
  grid-area: welcome;
  font-weight: 200;
  letter-spacing: var(--letter-spacing-xl);
  font-size: .75em;
  opacity: .85;
  transform: rotate(-19deg);
  filter: var(--hero-text-filter);
}

.hero__signature-line {
  grid-area: signature;
  display: grid;
  grid-template-areas: "to name";
  column-gap: .35em;
  align-items: end;
  letter-spacing: var(--letter-spacing-xl);
  filter: var(--hero-text-filter);
  transform: rotate(5deg);
}

.hero__name {
  grid-area: name;
  font-size: 1.13em;
  font-weight: 550;
  
}

.hero__to {
  grid-area: to;
  opacity: .8;
  font-size: .45em;
  font-weight: 250;
  transform: translate(.75em,-1.5em);
  
}

.hero__main {
  grid-area: main;
  place-self: start center;
  display: grid;
  gap: .035em;
  transform: translateY(1em);
}

.hero__title {
  font-weight: var(--font-weight-bold);
  font-size: 2.75em;
  font-variant: small-caps;
  letter-spacing: var(--letter-spacing-xl);
}

.hero__title-word { display: inline-block; transform: rotate(-3deg); filter: var(--hero-text-filter);}

.hero__tagline {
  font-size: .7em;
  text-align: end;
  letter-spacing: var(--letter-spacing-xs);
  opacity: .85;
  font-weight: 250;
  transform: translate(-.5em, -1.5em) rotate(-3deg);
  filter: var(--hero-text-filter);
}



@media (prefers-reduced-motion: reduce) {
  .hero__backdrop { animation: none; }
}
