.hero-logo {
    display: grid;
    place-items: center;
    text-align: center;

    inline-size: 100%;
    block-size: var(--hero-size);

    background-image: var(--img--mascot-v2);
    background-repeat: no-repeat;
    background-size: calc(.7 * var(--hero-size));
    /* leicht nach unten schieben, damit der Text mittig über dem Körper sitzt */
    background-position: 40% 85%;
    mix-blend-mode: luminosity;
    
    filter:
        drop-shadow(2px 3px 3px var(--color-dark))
        drop-shadow(2px 3px 6px var(--color-shadow--soft));
    }

    /* Ein Wrapper für alles Textige */
 .hero-logo__text {
    display: grid;
    row-gap: 0.15em;

    /* Text ein kleines Stück nach oben ziehen, damit er nicht
        mitten in Lucys Gesicht hängt */

    transform: translate(-3%, 12%) scale(1.5);
    text-shadow:
        2px 3px 6px var(--color-dark),
        2px 3px 16px var(--color-shadow--soft);
}

/* "Welcome to Lucy's" */
.hero__signature {
    transform: translate(-15%, 50%) scale(.45);
    text-align: start;
    opacity: 0.9;
}
.hero__signature--lucy { 
    transform: translate(15%, 0%) scale(1.12);
}

/* Cozy Cosmos */
.hero-logo__brand-sub {
  font-family: var(--font--fancy);
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-s);
  font-weight: 800;
}

/* …Eeeeeek */
.hero-logo__squeak {
    transform: translate(-2%, -80%);
    text-align: end;
    opacity: 0.9;
}




