.hero,
.hero__signature {
  display: grid; 
}
.content-section > .card :where(:is(.hero)),.hero + .card {margin-block: 0; gap: 0}
.hero {
  position: relative;
  isolation: isolate;
  place-items: center;
  align-content: end;
  z-index: 222;
  opacity: .9;
  font-size: var(--hero-scale);
  inline-size: 100%;
  block-size: 9.25em;
  margin-block-start: var(--section-gap);
  mix-blend-mode: screen;
  background-image: var(--hero--bg), radial-gradient(ellipse at 50% calc(69% - .5em), rgba(255,255,255,.2), transparent 60%);
  background-position: 42% calc(73% - .75em),42% calc(93% - .75em);
  background-size: 8.25em, 22em 8.25em;
  background-repeat:no-repeat,no-repeat;
  background-blend-mode: normal,lighten;

  filter: contrast(1.5) saturate(1.25) drop-shadow(.005em .005em .0125em) ;
  
  animation-name: fly-in, fly-up-down;
  animation-delay: .5s, 2.5s;
  animation-duration: 2s, 2.5s;
  animation-iteration-count: 1,infinite;
  animation-timing-function:ease,cubic-bezier(0.75, 0.75, 0.75, 0.75);
}
@keyframes fly-in {
  0% {background-position-x: -20%, 42%; background-position-y:-120%,calc(93% - .75em);background-size: .25em, 22em 8.25em}
  100% {background-position-x: 42%, 42%; }
}
@keyframes fly-up-down {
  20% {background-position-y: calc(45% - .75em),calc(93% - .75em)}
  40% {background-position-x: 41.5%, 42%;}
  60% {background-position-y: calc(110% - .75em),calc(93% - .75em)}  
  80% {background-position-x: 43.5%, 42%; }  
}
@media(prefers-reduced-motion: reduce) {.hero {animation: none,none;}}
.hero__text { 
  display: grid;
  grid-template-areas: "signature""main";
  row-gap:.8em; 
  filter: drop-shadow(.01em .01em .125em var(--color-dark));
  transform: translateY(-.75em);
}

.hero__signature {
  grid-area: signature;
  grid-template-areas: "welcome sub";
  inline-size: auto;
  gap: 6em;
  align-items:center;
  text-align: start;
  justify-self: center;
  transform: translate(-.25em, 1.25em)
}

.hero__welcome {
  grid-area: welcome;
  font-family: var(--font--fancy);
  font-weight: 200;
  
  letter-spacing: var(--letter-spacing-m);
  font-size: .8em;
  
  transform: rotate(-4deg) translate(2.75em,-.5em);;
  opacity: .85;
}

.hero__sub {
  font-family: var(--font--signature);
  display: grid;
  grid-area: sub;
  grid-template-areas: "to lucy";
  gap: .015em;
  letter-spacing: var(--letter-spacing-xl);
  transform:  rotate(4deg);

}
.hero__lucy { 
  grid-area: lucy; 
  font-size: 1.13em; 
  font-weight: 550;
}

.hero__to { 
  opacity: .8;  
  grid-area: to; 
  font-size: .45em;
  transform: translate(.25em,.25em); 
  font-weight: 250;
}
.hero__main {grid-area: main; transform: translateY(.25em);}
.hero__main--title {
  font-family: var(--font--fancy);
  font-weight: var(--font-weight-bold);
  font-size: 2.75em;       
  font-variant: small-caps;
  letter-spacing: var(--letter-spacing-xl);
  gap:.5em;
  
  
}
.hero__main--title > span.cozy {display: inline-block; transform: rotate(-3deg);}
.hero__main--title > span.cosmos {display: inline-block; transform: rotate(-3deg);}
span.cozy + span.cosmos {}
.hero__main--tagline {
  font-family: var(--font--display);
  font-size: .7em;       
  text-align: end;
  opacity: .85;
  font-weight: 300;
  transform: translate(-.5em, -1.25em) rotate(-3deg);
}



