.hero,
.hero__signature {
  display: grid; 
}
.content-section > .card :where(:is(.hero)),.hero + .card {margin-block: 0; gap: 0}
.hero {
  --nebula-pos-y: 55%;
  position: relative;
  isolation: isolate;
  place-items: center;
  align-content: end;
  z-index: 222;
  opacity: .9;
  font-size: var(--hero-scale);
  inline-size: 100%;
  block-size: 9.5em;
  margin-block-start: var(--section-gap);
  mix-blend-mode: screen;
  background-image: var(--hero--bg), radial-gradient(ellipse at 45% var(--nebula-pos-y),rgba(251, 0, 255, 0.089), rgba(140, 0, 255, 0.0351) 35%, transparent 60%);
  background-position: 50% 99%,50% var(--nebula-pos-y);
  background-size: 8.25em, 100% 100%;
  background-repeat:no-repeat,no-repeat;
  background-blend-mode: normal,lighten;

  filter: var(--hero-filter);
  
  animation-name: fly-in, fly-up-down;
  animation-delay: .5s, 3s;
  animation-duration: 2.5s, 3s;
  animation-iteration-count: 1,infinite;
  animation-timing-function:ease-out,ease-in;
}
@keyframes fly-in {
  0% {
    background-position-x: -20%, 50%; 
    background-position-y:-120%,var(--nebula-pos-y);
    background-size: .25em, 100%
  }
  100% {
    background-position-x: 
    50%, 50%; 
  }
}
@keyframes fly-up-down {
  33% {
    background-position-y: 99%,var(--nebula-pos-y);background-position-x: 49%, 50%;
  }
  66% {
    background-position-y: 15%,var(--nebula-pos-y); background-position-x: 51%, 50%;
  }
  100%,0% {
    background-position-y: 99%,var(--nebula-pos-y);background-position-x: 50%, 50%;
  }  
  98% {
     
  }  
}
@media(prefers-reduced-motion: reduce) {.hero {animation: none,none;}}
.hero__text { 
  display: grid;
  grid-template-areas: "signature""main";
  row-gap:.8em; 
  filter: var(--hero-text-filter);
  transform: var(--hero-text-transform);
}

.hero__signature {
  grid-area: signature;
  grid-template-areas: "welcome sub";
  inline-size: auto;
  gap: 6em;
  align-items:center;
  text-align: start;
  justify-self: center;
  transform: var(--hero-signature-transform)
}

.hero__welcome {
  grid-area: welcome;
  font-family: var(--font--fancy);
  font-weight: 200;
  
  letter-spacing: var(--letter-spacing-m);
  font-size: .8em;
  
  transform: var(--hero-welcome-transform);
  opacity: .85;
}

.hero__sub {
  font-family: var(--font--signature);
  display: grid;
  grid-area: sub;
  grid-template-areas: "to lucy";
  gap: .015em;
  letter-spacing: var(--letter-spacing-xl);
  transform: var(--hero-sub-transform);

}
.hero__lucy { 
  grid-area: lucy; 
  font-size: 1.13em; 
  font-weight: 550;
}

.hero__to { 
  opacity: .8;  
  grid-area: to; 
  font-size: .45em;
  transform: var(--hero-to-transform);
  font-weight: 250;
}
.hero__main {grid-area: main; transform: var(--hero-main-transform);}
.hero__main--title {
  font-family: var(--font--fancy);
  font-weight: var(--font-weight-bold);
  font-size: 2.75em;       
  font-variant: small-caps;
  letter-spacing: var(--letter-spacing-xl);
  gap:.5em;
  
  
}
.hero__main--title > span.cozy {display: inline-block; transform: var(--hero-title-transform);}
.hero__main--title > span.cosmos {display: inline-block; transform: var(--hero-title-transform);}
span.cozy + span.cosmos {}
.hero__main--tagline {
  font-family: var(--font--display);
  font-size: .7em;       
  text-align: end;
  opacity: .85;
  font-weight: 300;
  transform: var(--hero-tagline-transform);
}



