.hero,
.hero__signature {
  display: grid; 
}

.hero {
  place-items: center;
  text-align: center;

  font-size: var(--hero-scale);
  inline-size: 100%;
  block-size: 8.5em;

  row-gap: 0.04em;
  margin-block-start: clamp(.25em,calc(.25em + .5vw),1.5em);

  mix-blend-mode: screen;
  background: 
    var(--hero--bg)
    calc(50% - 2.5em) calc(50% + 0.35em)/8.35em 
    no-repeat;
  
  filter:
    drop-shadow(.1em .1em .25em rgba(0,0,0,.9))    
    drop-shadow(0 0 3.5em var(--color-glow--strong));
}

.hero__text {
  filter:
    drop-shadow(.1em .1em .15em rgba(0,0,0,.9))
    drop-shadow(.1em .1em .15em var(--color-shadow--strong));
}

.hero__signature {
  grid-template-areas: "welcome" "lucy";

  font-family: var(--font--signature);
  text-align: start;
  transform: translate(2.35em,.5em);
}

.hero__welcome {
  grid-area: welcome;

  font-size: 0.5em;
  transform: translate(1.75em, .75em);
}

.hero__lucy {
  grid-area: lucy;

  font-size: 1.25em;
  letter-spacing: var(--letter-spacing-xl);
}

.hero__title {
  font-family: var(--font--fancy);
  font-weight: var(--bold-font-weight);
  font-size: 3em;       
  font-variant: small-caps;
  letter-spacing: var(--letter-spacing-l);
}

.hero__tagline {
  font-family: var(--font--display);
  font-size: .7em;       
  text-align: end;

  transform: translate(-.5em, -1.7em);
}



