:root {
  --hero-scale:                     clamp(.55rem, calc(.55rem + 2.25vw), 2.35rem);

  --hero-filter:                    contrast(1.5) saturate(1.25) drop-shadow(.005em .005em .0125em);
  
  --hero-text-filter:               drop-shadow(.01em .01em .125em var(--color-dark));
  --hero-text-transform:            translateY( -1.5em);
  
  --hero-signature-transform:       translate(-.25em, .5em);
  --hero-welcome-transform:         rotate(-4deg) translateY(-.25em);
  --hero-sub-transform:             rotate(4deg);
  --hero-to-transform:              translate(.25em,.25em);
  --hero-main-transform:            translateY(1.25em);
  --hero-title-transform:           rotate(-3deg);
  --hero-tagline-transform:         translate(-.5em, -1.25em) rotate(-3deg);
}


.hero {  display: grid; }

.hero__image {
  
  position: relative;
  isolation: isolate;
  place-items: center;
  align-content: end;
  z-index: 222;
  opacity: .9;
  font-size: var(--hero-scale);
  min-inline-size: 18em;
  block-size: 10em;
  margin-block: var(--section-gap);
  mix-blend-mode: screen;
  background-image: var(--hero--bg);
  background-position: 3em  2.2em;
  background-size: 8.25em;
  background-repeat:no-repeat;
  background-blend-mode: normal;

  filter: var(--hero-filter);

  animation-name: fly-in, fly-up-down;
  animation-delay: .5s, 3s;
  animation-duration: 2.5s, 2.5s;
  animation-iteration-count: 1,infinite;
  animation-timing-function:ease-out,cubic-bezier(.42,0,.58,1);
}
.hero__image::after {
  --nebula-pos-y: 50%;
  content: "";
  position: absolute;
  inset-inline: 0;
  
  margin-inline: auto;

  inline-size: 100%;
  block-size: 10em;
  margin-block: var(--section-gap);
  mix-blend-mode:color;
  background-position: 50% var(--nebula-pos-y);
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-blend-mode: color;
  background-image:  radial-gradient(ellipse at 50% var(--nebula-pos-y),rgba(251, 0, 255, 0.089), rgba(140, 0, 255, 0.069) 35%, transparent 70%);
  

  pointer-events: none;
  z-index: -1;
}
@keyframes fly-in {
  0% {
    background-position: -4em -6.5em;
    background-size: .25em;
   }
  50% {background-position:2.25em 4.8em; background-size: 8.25em;} 
  100% {
    background-position: 3em 2.2em; 
  }
}
@keyframes fly-up-down {
  0%, 100% {
    background-position-y: 2.5em;
    
  }
  50% {
    background-position-y: 0em;
    
  }

}
@media(prefers-reduced-motion: reduce) {.hero {animation: none;}}
.hero__text { 
  text-align: center;
  grid-template-areas: "signature""main";
  row-gap:.8em; 
  filter: var(--hero-text-filter);
  transform: var(--hero-text-transform);
  mix-blend-mode: luminosity;
}

.hero__signature {
  grid-area: signature;
  grid-template-areas: "welcome sub";
  inline-size: auto;
  gap: 6em;
  align-items:center;
  text-align: start;
  justify-self: center;
  transform: var(--hero-signature-transform)
}

.hero__welcome {
  grid-area: welcome;
  font-family: var(--font-fancy);
  font-weight: 200;
  letter-spacing: var(--letter-spacing-m);
  font-size: .8em;
  transform: var(--hero-welcome-transform);
  opacity: .85;
}

.hero__sub {
  font-family: var(--font-signature);
  grid-area: sub;
  grid-template-areas: "to lucy";
  gap: .015em;
  letter-spacing: var(--letter-spacing-xl);
  transform: var(--hero-sub-transform);

}
.hero__lucy { 
  grid-area: lucy; 
  font-size: 1.13em; 
  font-weight: 550;
}

.hero__to { 
  opacity: .8;  
  grid-area: to; 
  font-size: .45em;
  transform: var(--hero-to-transform);
  font-weight: 250;
}
.hero__main {grid-area: main; transform: var(--hero-main-transform);place-self: start;}
.hero__main--title {
  font-family: var(--font-fancy);
  font-weight: var(--font-weight-bold);
  font-size: 2.75em;       
  font-variant: small-caps;
  letter-spacing: var(--letter-spacing-xl);
}
.hero__main--title > span.cozy {display: inline-block; transform: var(--hero-title-transform);}
.hero__main--title > span.cosmos {display: inline-block; transform: var(--hero-title-transform);}
span.cozy + span.cosmos {}
.hero__main--tagline {
  font-family: var(--font-display);
  font-size: .7em;       
  text-align: end;
  opacity: .85;
  font-weight: 300;
  transform: var(--hero-tagline-transform);
}



