.hero,
.hero__signature {
  display: grid; 
}

.hero {
  position: relative;
  isolation: isolate;
  place-items: center;
  align-content: end;
  z-index: 222;
  opacity: .9;
  font-size: var(--hero-scale);
  inline-size: 100%;
  block-size: 8.25em;
  margin-block-start: var(--section-gap);
  mix-blend-mode: normal;
  background-image: var(--hero--bg), radial-gradient(ellipse at center, rgba(255,255,255,.12), transparent 60%);
  background-position: calc(43%) calc(75%),center,50% 55%;
  background-size: 8.25em, 12em 8em, auto;
  background-repeat:no-repeat,no-repeat;
  background-blend-mode: normal,lighten;

  filter: contrast(1.6) saturate(1.05) drop-shadow(.15em .15em .25em var(--color-dark--strong));
  transform: translateY(-.5em);
}

.hero__text { 
  display: grid;
  grid-template-areas: "signature""main";
  row-gap:.8em; 
  filter: drop-shadow(.1em .1em .25em var(--color-dark--soft));
}

.hero__signature {
  grid-area: signature;
  grid-template-areas: "welcome sub";
  inline-size: auto;
  gap: 6em;
  align-items:center;
  text-align: start;
  justify-self: center;
  transform: translateY(1.25em)
}

.hero__welcome {
  grid-area: welcome;
  font-family: var(--font--fancy);
  font-weight: 200;
  
  letter-spacing: var(--letter-spacing-m);
  font-size: .8em;
  
  transform: rotate(-4deg) translate(2.75em,-.5em);;
  opacity: .85;
}

.hero__sub {
  font-family: var(--font--signature);
  display: grid;
  grid-area: sub;
  grid-template-areas: "to lucy";
  gap: .015em;
  letter-spacing: var(--letter-spacing-xl);
  transform:  rotate(4deg);

}
.hero__lucy { 
  grid-area: lucy; 
  font-size: 1.13em; 
  font-weight: 550;
}

.hero__to { 
  opacity: .8;  
  grid-area: to; 
  font-size: .45em;
  transform: translate(.25em,.25em); 
  font-weight: 250;
}
.hero__main {grid-area: main; transform: translateY(.25em);}
.hero__main--title {
  font-family: var(--font--fancy);
  font-weight: var(--font-weight-bold);
  font-size: 2.75em;       
  font-variant: small-caps;
  letter-spacing: var(--letter-spacing-xl);
  gap:.5em;
  
  
}
.hero__main--title > span.cozy {display: inline-block; transform: rotate(-3deg);}
.hero__main--title > span.cosmos {display: inline-block; transform: rotate(-3deg);}
span.cozy + span.cosmos {}
.hero__main--tagline {
  font-family: var(--font--display);
  font-size: .7em;       
  text-align: end;
  opacity: .85;
  font-weight: 300;
  transform: translate(-.5em, -1.25em) rotate(-3deg);
}



