.hero,
.hero__signature {
  display: grid; 
}

.hero {
  place-items: center;
  align-content: end;

  font-size: var(--hero-scale);
  
  block-size: 8.65em;
  margin-block-start: var(--section-gap);
  mix-blend-mode: luminosity;
  background: 
    var(--hero--bg)
    calc(50% - 2em) calc(50% - .25em)/8.45em 
    no-repeat;
  
  filter:
    drop-shadow(.1em .1em .1em rgba(0,0,0,.39))    
    drop-shadow(0 0 3em var(--color-glow--strong));
}

.hero__text {
  filter:
    drop-shadow(.1em .1em .1em rgba(0,0,0,.39))
    drop-shadow(.1em .1em .1em var(--color-shadow--strong));
}

.hero__signature {
  grid-template-areas: "welcome sub";
  inline-size: auto;
  row-gap: 0;
  column-gap: 3.25em;
  
  
  align-items:center;
  text-align: start;
  justify-self: center;
  transform: translate(.75em, -.35em);
}

.hero__welcome {
  grid-area: welcome;
  font-family: var(--font--fancy);
  font-weight: 300;
  
  letter-spacing: var(--letter-spacing-l);
  font-size: .75em;
  
  transform: rotate(-6deg);
  opacity: .95;
}

.hero__sub {
  font-family: var(--font--signature);
  display: grid;
  grid-area: sub;
  grid-template-areas: "to lucy";
  gap: .015em;
  letter-spacing: var(--letter-spacing-xl);
  transform: translateY(.5em) rotate(6deg);

}
.hero__lucy { 
  grid-area: lucy; 
  font-size: 1.12em; 
  font-weight: thick;
}

.hero__to { 
  opacity: .9;  
  grid-area: to; 
  font-size: .5em;
  transform: translate(.25em,.25em); 
  font-weight: thin
}

.hero__title {
  font-family: var(--font--fancy);
  font-weight: var(--bold-font-weight);
  font-size: 3em;       
  font-variant: small-caps;
  letter-spacing: var(--letter-spacing-xl);
}

.hero__tagline {
  font-family: var(--font--display);
  font-size: .7em;       
  text-align: end;
  font-weight: 200;
  transform: translate(-.5em, -1.7em);
}



