.hero,
.hero__signature {
  display: grid; 
}
.hero::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  margin: auto;
  inline-size: 32em;
  block-size: 16em;
  border-radius: 999px;
  background-image: var(--overlay--stars), radial-gradient(ellipse at center, rgba(255,255,255,.12), transparent 60%);
  background-position: center,50% 55%;
  background-size: 12em 8em, auto;
  background-repeat: no-repeat,no-repeat;
  background-blend-mode: soft-light,screen;
  mix-blend-mode: screen;
  pointer-events: none;
}
.hero {
  place-items: center;
  align-content: end;
  z-index: 222;
  opacity: .9;
  font-size: var(--hero-scale);
  inline-size: 100%;
  block-size: 8.65em;
  margin-block-start: var(--section-gap);
  mix-blend-mode: normal;
  background: 
    var(--hero--bg)  calc(50% - 2em) calc(50% - .25em)/8.45em   no-repeat;
  
  filter:
    contrast(1.6)

    saturate(1.05)
    drop-shadow(.15em .15em .125em rgba(0,0,0,.7))    
    ;
}

.hero__text {
  filter:
    drop-shadow(.1em .1em .125em rgba(0,0,0,.5));
}

.hero__signature {
  grid-template-areas: "welcome sub";
  inline-size: auto;
  row-gap: 0;
  column-gap: 4.5em;
  
  
  align-items:center;
  text-align: start;
  justify-self: center;
  transform: translate(.5em, -.35em);
}

.hero__welcome {
  grid-area: welcome;
  font-family: var(--font--fancy);
  font-weight: 250;
  
  letter-spacing: var(--letter-spacing-l);
  font-size: .95em;
  
  transform: rotate(-6deg);
  opacity: .85;
}

.hero__sub {
  font-family: var(--font--signature);
  display: grid;
  grid-area: sub;
  grid-template-areas: "to lucy";
  gap: .015em;
  letter-spacing: var(--letter-spacing-xl);
  transform: translateY(.5em) rotate(6deg);

}
.hero__lucy { 
  grid-area: lucy; 
  font-size: 1.25em; 
  font-weight: 550;
}

.hero__to { 
  opacity: .8;  
  grid-area: to; 
  font-size: .6em;
  transform: translate(.25em,.25em); 
  font-weight: 250;
}

.hero__title {
  font-family: var(--font--fancy);
  font-weight: var(--bold-font-weight);
  font-size: 3em;       
  font-variant: small-caps;
  letter-spacing: var(--letter-spacing-xl);
}

.hero__tagline {
  font-family: var(--font--display);
  font-size: .7em;       
  text-align: end;
  opacity: .85;
  font-weight: 300;
  transform: translate(-.5em, -1.7em);
}



