**/node_modules
**/node_modules/**
**/dist
**/dist/**
**/app/**/src/assets/galleries/**
**/app/**/src/assets/galleries/
**/deploy.log
**/*.log
*.log

**/assets/albums/**/**.webp
!**/_covers/** 
**/.env
.env
**/**/.env
**.env
**/app/**/.env
package-lock.json
**/**/package-lock.json
**/.astro
**/.astro/**
.astro
**/prod/src/
**/prod/src/**
**/prod/public/
**/prod/public/**
**/patch.*
**/*.kra
**/*.*~
**/app_dev_tree.txt
**/*.txt
**/*.diff
**/thumbs.db
svgs.list
**/.Trash-1000