---

---
<footer class="footer">
    <span class="footer__left">
        <p>&copy;&nbsp;<span data-current-year></span>&nbsp;–&nbsp;<a href="/imprint">Imprint</a>&nbsp;|&nbsp;<a href="/test">Test Page</a></p>
    </span>
    <span class="footer__center">
        <a class="button button--small button--plain" href="#top">⇡ Scroll Up ⇡</a>
    </span>
    <span class="footer__right">
        <p><em>powered by<a href="https://astro.build">&nbsp;astro</a></em></p>
    </span>
</footer>