---
import Layout from '@Layout/Main.astro';
import Card from '@Layout/Card.astro';
import Icons from '@Assets/Icons.astro';
---
<Layout>
<section class="content-section">
  <Card class="card--plain is-centered">
    <Fragment slot="head">
      <h1 class="card__title">I am site title</h1>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
      </div>
    </Fragment>
  </Card>
</section>
<section class="content-section cols-3">
  <Card headClass="card__head--column" class="is-animated">
    <Fragment slot="head">
      <h2 class="card__title">I am card title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge is-dark">hint</span>
        <span class="badge">hint</span><span class="badge is-dark">hint</span><span class="badge badge--small">hint</span>
      </div>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>I'm the default card</p>
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
        <h3>I am accent title</h3>
      </div>
    </Fragment>
    <Fragment slot="foot">
      <div class="controls controls--center">
        <span class="button button--small">click me</span><span class="button button--small is-dark">click me</span><span class="button button--small is-ghost">click me</span>
      </div>
      <div class="controls controls--tight">
        <span class="button">click me</span><span class="button is-dark">click me</span><span class="button is-ghost">click me</span>
      </div>
      <div class="controls controls--spread">
        <span class="button button--large">click me</span><span class="button button--large is-dark">click me</span><span class="button button--large is-ghost">click me</span>
      </div>
    </Fragment>
  </Card>
  <Card class="card--ghost is-animated">
    <Fragment slot="head">
      <h2 class="card__title">I am card title</h2>
      <div class="card__badges controls controls--tight">
        <span class="badge">hint</span><span class="badge is-dark">hint</span>
      </div>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>I'm the default card</p>
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
        <h3>I am accent title</h3>
      </div>
    </Fragment>
    <Fragment slot="foot">
      <div class="controls controls--center">
        <span class="button button--small">click me</span><span class="button button--small is-dark">click me</span><span class="button button--small is-ghost">click me</span>
      </div>
      <div class="controls controls--tight">
        <span class="button">click me</span><span class="button is-dark">click me</span><span class="button is-ghost">click me</span>
      </div>
      <div class="controls controls--spread controls--nowrap">
        <span class="button button--large">click me</span><span class="button button--large is-dark">click me</span><span class="button button--large is-ghost">click me</span>
      </div>
    </Fragment>
  </Card>
  <Card class="card--light" headClass="card__head--column">
    <Fragment slot="head">
      <h2 class="card__title">I am card title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge is-dark">hint</span>
        <span class="badge">hint</span><span class="badge is-dark">hint</span><span class="badge badge--small is-ghost">hint</span>
      </div>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>I'm the default card</p>
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
        <h3>I am accent title</h3>
      </div>
    </Fragment>
    <Fragment slot="foot">
      <div class="controls controls--center">
        <span class="button button--small">click me</span><span class="button button--small is-dark">click me</span><span class="button button--small is-ghost">click me</span>
      </div>
      <div class="controls controls--tight">
        <span class="button">click me</span><span class="button is-dark">click me</span><span class="button is-ghost">click me</span>
      </div>
      <div class="controls controls--spread">
        <span class="button button--large">click me</span><span class="button button--large is-dark">click me</span><span class="button button--large is-ghost">click me</span>
      </div>
    </Fragment>
  </Card>
</section>
<section class="content-section cols-2">
  <Card>
    <Fragment slot="body">
      <div class="controls">
        <span class="button button--large"><span class="button__icon">wd<Icons kind="palette"></Icon></Icons></span></span>
        <span class="button button--large is-dark"><span class="button__icon">wd<Icons kind="paw"></Icon></span></span>
        <span class="button is-ghost">wd<Icons kind="cookie"></Icon></span>
        <span class="button button--large"><span class="button__icon"><Icons kind="rocket"></Icon></Icons></span></span>
        <span class="button button--large is-dark"><span class="button__icon"><Icons kind="sparkles"></Icon></span></span>
        <span class="button is-ghost"><Icons kind="cookie"></Icon></span>    
      </div>
    </Fragment>
  </Card>
  <Card class="card--light">

  </Card>
</section>
</Layout>