---

---
<footer class="site-footer">
    ©<span data-current-year></span><i>&nbsp;by&nbsp;<b>Lucy Foxx</b>&nbsp;–&nbsp;all rights reserved.</i> &nbsp;–&nbsp; <a href="/imprint">Imprint</a> &nbsp;–&nbsp; powered by &nbsp;<a href="https://astro.build">astro</a>&nbsp;
</footer>