---

---
<footer class="footer">
    <p class="footer__left">
        &copy;&nbsp;<span data-current-year></span>&nbsp;–&nbsp;<a href="/imprint">Imprint</a>
    </p>
    <span class="footer__center">
        <a class="button button--small is-ghost" href="#top">⇡ Scroll Up ⇡</a>
    </span>
    <p class="footer__right">
        powered by<a href="https://astro.build">&nbsp;astro</a></p>

</footer>