---

---
<nav class="panel__bar panel__bar--bottom" aria-label="Page navigation">
    <div class="panel__bar--actions">

    </div>
    
</nav>
<footer class="site-footer">
        <span class="site-footer__top button button--small">
            <a href="#top">⇡ Scroll Up ⇡</a>
        </span>
    <p class="site-footer__left">©<span data-current-year></span><i>&nbsp;by&nbsp;<b>Lucy Foxx</b>&nbsp;–&nbsp;all rights reserved.</i></p> 
    <p class="site-footer__center">&nbsp;–&nbsp; <a href="/imprint">Imprint</a> &nbsp;–&nbsp;</p>
    <p class="site-footer__right"> powered by &nbsp;<a href="https://astro.build">astro</a>&nbsp;</p>

</footer>