---

---
<footer class="footer">
    <span class="footer__left">
        <p>&copy;&nbsp;<span data-current-year></span>&nbsp;–&nbsp;<a href="/imprint">Imprint</a></p>
    </span>
    <span class="footer__center">
        <a class="button button--small button--ghost" href="#top">⇡ Scroll Up ⇡</a>
    </span>
    <span class="footer__right">
        <p><em>powered by<a href="https://astro.build">&nbsp;astro</a></em>&nbsp;–&nbsp;<a href="/test">Test</a></p>
    </span>
</footer>