---
import ICONS from '@Assets/Icons.astro';

type NavLink = {
  href: string;
  label: string;
  emoji?: string;
  icon?: string;
  includeInHeader?: boolean;
  isActive?: boolean;
  weight?: number;
};

type Props = {
  navLinks: NavLink[];
  meta?: { title?: string; description?: string; url?: string };
};

const { navLinks = [] } = (Astro.props ?? {}) as Props;

---
<header class="header" aria-label="Primary navigation" data-visible="true">
  <nav class="controls controls--evenly controls--nowrap">
    {navLinks
      .filter((link) => link.includeInHeader)
      .map((link) => (
        <a
          class="header__item "
          href={link.href}
          data-active={link.isActive ? 'true' : 'false'}
        >
         
          <ICONS class="header__item-icon media-icon" name={link.icon} />
           <span class="header__item-label">{link.label}</span>
        </a>
      ))}
  </nav>
</header>

<script>
  import stickyBar from '@Scripts/stickyBars.js';
  import { runOnReady } from '@Scripts/utils/_runOnReady.js';


  runOnReady(() => {
    const cleanup = stickyBar('.header');
    if (typeof cleanup === 'function') {
      window.addEventListener('astro:before-swap', cleanup, { once: true });
    }
  });  
</script>
