---
import { Template } from '@Frontend';
---
<div class="media-lightbox" data-visible="false" data-bound="false">

  <Template.Card class="card--center card--stretch media-lightbox__thumbs">
    <Fragment slot="body">
      <figure>
        <img class="media-lightbox-image" alt="" />
        <button class="media-lightbox__close" type="button" aria-label="Close">×</button>
      </figure>        
    </Fragment>
    <Fragment slot="foot">
      <Template.MediaThumbs />
    </Fragment>      
  </Template.Card>
</div>
