---

---
<div class="media-wrapper media-wrapper--thumbs" role="list">
  <button class="control control--button control--circle control--media media-prev is-thumbs-prev" aria-label="Previous thumbnails" type="button">❮</button>
  <div class="media-wrapper media-wrapper--frames media-wrapper--ghost" role="list" data-window="10"></div>
  <button class="control control--button control--circle control--media media-next is-thumbs-next" aria-label="Next thumbnails" type="button">❯</button>
</div>

