---
import MediaFrame from '@Templates/Media/Frame.astro';
import MediaThumbs from '@Templates/Media/Thumbs.astro';
import ICONS from '@Assets/Icons.astro';
const lightboxAlbum = {
  title: '',
  description: '',
  albumSlug: 'media-lightbox',
  initialThumb: {
    src: '',
    width: 1920,
    height: 1080,
    alt: '',
    full: '',
  },
};
---
<div class="media-lightbox" data-visible="false" aria-hidden="true">

    <MediaFrame
      album={lightboxAlbum}
      wrapperClass=""
      frameClass=""
      imageClass=""
      isLightbox={true}
      autoplay={false}
      random={false}
      interval={12000}
    />




</div>
