---
import MediaFrame from '@Templates/Media/Frame.astro';
import MediaThumbs from '@Templates/Media/Thumbs.astro';

const lightboxAlbum = {
  title: '',
  description: '',
  albumSlug: 'media-lightbox',
  initialThumb: {
    src: '',
    width: 1920,
    height: 1080,
    alt: '',
    full: '',
  },
};
---
<div class="media-lightbox" data-visible="false" aria-hidden="true">

    <MediaFrame
      album={lightboxAlbum}
      wrapperClass="media-lightbox__frame"
      frameClass="media-frame--lightbox"
      imageClass="media-lightbox-image"
      isLightbox={true}
      autoplay={false}
      random={false}
      interval={12000}
    />


      <MediaThumbs />


    <button class="control control--button control--media media-lightbox__close" type="button" aria-label="Close">×</button>

</div>
