/* ====== TOKENS ====== */
:root { 
  --is-mobile: 'false';  
  color-scheme: dark; 
  view-transition-name: root;
  --base-bg:                        linear-gradient(135deg, #371173, #240a46, rgb(40, 7, 112));
  --base-shadow:                    inset 0 0 164px 64px rgba(0,0,0,.5);
}
@media (max-width: 900px) { :root { --is-mobile: 'true'; }}

/* ====== Reset & Baseline ====== */
*, 
*::before, *::after { box-sizing: border-box; }
* { margin: 0; }
html:focus-within { scroll-behavior: smooth; }
html, 
body { height: 100dvh; }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: none;
  display: flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  box-shadow: var(--base-shadow);
  background-image: 
    var(--overlay-dim), 
    var(--overlay-nebula), 
    var(--overlay-stars), 
    var(--base-bg);
  background-blend-mode:multiply,overlay,soft-light,normal;
  background-repeat: no-repeat,no-repeat,repeat,no-repeat;
  background-size: cover,cover,640px 640px,cover;
  background-position: center, top,center,center;
  will-change: var(--panel-base-will-change);
  transform: var(--panel-base-transform);
}


:where(h1, h2, h3, h4, a) {
  text-shadow: var(--text-shadow);
  color: var(--color-accent-light);
}
a:not(.header__item,.control) {
  transition: var(--transition-state);
}
a:is(:hover,:focus-visible):not(.header__item,.control) {
  text-shadow: var(--text-glow);
  opacity: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  appearance: none;
  text-rendering: optimizeLegibility;
  letter-spacing: unset;
  word-spacing: unset;
  line-height: unset;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: unset;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  border-width: 0;
  border-style: hidden;
  border-color: transparent;
  border-image: none;
}

/* ====== ACCESSIBILITY ====== */
@media (prefers-reduced-motion: reduce) {
  html:focus-within { scroll-behavior: auto; }
  *, *::before, *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}
:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}


/* ====== VIEW TRANSITIONS ====== */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

::view-transition-old(root) {
  animation-name: fade-out;
}

::view-transition-new(root) {
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    filter: saturate(.9);
    transform: scale(0.975);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: saturate(.9);
    transform: scale(0.975);
  }
  to {
    opacity: 1;
    filter: none;
    transform: none;
  }
}