/* ============================================ */
/* ======== CONTENT: COMPONENTS & ELEMENTS ==== */
/* ====== Depends on: tokens, site, typography ====== */
/* ============================================ */
:root {
  --card-gap:                       var(--space-s);
  --card-gap--small:                var(--space-xs);
  --card-padding:                   clamp(var(--space-s),  calc(var(--space-s) + 2.25vw),  var(--space-xl));
  --card-radius:                    var(--radius-l);
  --card-radius--inner:             var(--radius-m);
  --card-border:                    hidden;

  --card-backdrop:                  var(--fx-blur-xl) var(--fx-contrast) hue-rotate(-5deg);
  --card-background:                var(--color-accent-dark--ghosty);
  --card-shadow:                    var(--fx-shadow--elevated), var(--fx-shadow-inset--strong);
  --card-transition:                var(--transition-state--slow);
  --card-transform--fx:             var(--transform-grow);
  --card-filter--fx:                var(--fx-bright) var(--fx-saturate);

  --card-list-gap:                  var(--space-m);
  --card-list-padding:              var(--space-s);

  --card-list-bg:                   var(--color-accent-dark--strong);
  --card-list-bg--fx:               var(--color-accent--lilac);
  --card-list-shadow:               var(--fx-shadow--soft);
  --card-list-filter--fx:           var(--fx-glow);
  --card-list-transition:           var(--transition-state--slow), var(--transition-fade-in);
  --card-list-will-change:          opacity, background;

  --card-overlay-backdrop:          var(--fx-blur-xl);
  --card-overlay-shadow:            var(var(--fx-shadow-inset--ghosty));
  --card-overlay-transition:        var(--transition-fade-in--slow);
  --card-overlay-will-change:       opacity;
  --card-overlay-transition--fx:    var(--transition-fade-out--slow);
}


/* ====== CONTENT CARD ====== */
.card{
  display: grid;
  position: relative;
  grid-template-areas:
    "card-head"
    "card-body"
    "card-foot";
  grid-template-rows: auto 1fr auto;
  border: var(--card-border);
  min-block-size: 100%;
  padding: var(--card-padding);
  gap: var(--card-gap);
  background-color: var(--card-background);
  border-radius: var(--card-radius);
  backdrop-filter: var(--card-backdrop);
  box-shadow: var(--card-shadow);
}

/* ====== Card: VARIATIONS ======*/
/* === PLAIN (w/o bg, shadow, backdrop) === */
.card--plain  { 
  background: transparent; 
  box-shadow: none; 
  backdrop-filter: none;
  padding-block-end: 0;
  border-style: hidden;
}
.card--plain :where(.prose){ 
  font-weight: var(--font-weight-thick);
}


/* === FLUSH (padding / gap 0) === */
.card--flush { 
  padding: 0;  
  gap: 0;
}
.card--flush .card__head { 
  row-gap: 0; 
  column-gap: 0; 
}


/* === ANIMATE (on hover: scale + filter) === */
.card--animate { 
  transition: var(--card-transition); 

}
.card--animate:is(:hover,:focus-visible) {
  transform: var(--card-transform--fx);
  filter: var(--card-filter--fx);

}


/* === CENTER === */
.card--center { 
  justify-items: center; 
  text-align: center; 
}
.card--center :where(.prose) {
   margin-inline: auto; 
}


/* === CONDENSE (smaller gap) === */
.card--condense { 
  gap: var(--card-gap--small); 
}

/* === STRETCH === */
.card--stretch {
  min-inline-size: 100%;
}

/* ====== CARD AREAS ====== */
/* === HEAD === */
.card__head { 
  grid-area: card-head; 
  display: grid;
  grid-template-areas: "title badges";
  grid-template-columns: minmax(0,1fr) auto;
  align-items: flex-start;             /* vertikal mittig */
  column-gap: var(--card-gap);
}
.card__head > .card__badges{ grid-area: badges; }
@media (max-width: 900px) {
  .card__head{
    grid-template-areas:
      "title"
      "badges"; 
  } 
}
.card__head--column {
  grid-template-areas:
    "title"
    "badges";
  grid-template-columns: 1fr;
  row-gap: var(--card-gap--small); 
}


/* === TITLE === */
.card__title { 
  grid-area: title; 
  min-width: 0; 
  align-items: center; 
  display: inline-flex; 
  gap: var(--card-gap--small);
}


/* === BODY === */
/* Refactor: move font-related ordered list properties to typography */
.card__body { grid-area: card-body; display: contents; }

.card__body > ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-grid;
  list-style: none;
  gap: var(--card-gap--small);
}
@media (max-width: 900px) {
  .card__body > ol {
    grid-auto-flow: row;
    grid-template-columns: auto;
  }
}
.card__body > ol > li { margin: 0; }

/* Refactor: find a better selector for .card__body > ol > li > a */
.card__body > ol > li > a {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--card-gap);
  align-items: flex-start;
  padding: var(--card-list-padding);
  border-radius: var(--card-radius--inner);
  background: var(--card-list-bg);
  box-shadow: var(--card-list-shadow);
  opacity: .7;
  text-decoration: none;
  color: inherit;
  transition: var(--card-list-transition);
  will-change: var(--card-list-will-change);
}

#blog-chapter-target [data-blog-chapter] > :is(h1, h2, h3):first-child {
  display: none;
}

.prose#blog-chapter-target > :is(*[hidden],h2){
  display: none;
}
:is([data-chapter-prev],[data-chapter-next])[hidden] {
  opacity: 0;
  pointer-events: none;
}

.card__body > ol > li > a > span:first-child {
  font-weight: var(--font-weight-thick);
  font-size: var(--font-size-m);
  line-height: var(--line-height-xl);
  color: var(--color-accent-light);
}

.card__body > ol > li > a > div {
  display: flex;
  flex-direction: column;
  gap: var(--card-list-gap);
  opacity: 0.85;
}

.card__body > ol > li > a > div > strong {
  font-weight: var(--font-weight-thick);
  font-size: var(--font-size-m);
  line-height: var(--line-height-xl);
}

.card__body > ol > li > a > div > span {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-thin);
  line-height: var(--line-height-xl);
  
}

/* === hover, focus & active states === */
.card__body > ol > li > a:is(:hover,:focus-visible,[data-chapter][data-active]){
  opacity: 1;
  background: var(--card-list-bg--fx);
}

.card__body > ol > li > a:is(:hover,:focus-visible,[data-chapter][data-active])
:where(span:first-child,strong){
  opacity: 1;
  font-weight: var(--font-weight-bold);
  filter: var(--card-list-filter--fx);
}

.card__body > ol > li > a:is(:hover,:focus-visible,[data-chapter][data-active]) > div {
  opacity: 1;
  font-weight: var(--font-weight-thick);
}


/* === FOOT === */
.card__foot { grid-area: card-foot; display: contents; }



/* ===== Card: OVERLAY ===== */
.card__overlay {
  position: absolute;
  inset-inline: 0;
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  padding: calc(.75 * var(--card-padding));
  backdrop-filter: var(--card-overlay-backdrop);
  transition: var(--card-overlay-transition);
  will-change: var(--card-overlay-will-change);
  box-shadow: var(--card-overlay-shadow);
}
.card__overlay--head { inset-block-start: 0; border-radius: var(--card-radius--inner) var(--card-radius--inner) 0 0; }
.card__overlay--foot { inset-block-end: 0;   border-radius: 0 0 var(--card-radius--inner) var(--card-radius--inner); }
.card__overlay-item  { 
  display: inline-flex;
  flex-wrap: nowrap;
  inline-size: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.card__overlay-item :where(h1,h2,h3) {
  font-size: var(--font-size-m);
  text-wrap: balance;
}

.card__overlay-item:where(p) {
  margin: 0;
  font-size: var(--font-size-s);
  line-height: var(--line-height-xl);
  opacity: 0.9;
}

.card__overlay--hover[data-show="false"] {
  opacity: 0;  
}

*:hover > .card__overlay,
.card__overlay[data-show="true"] {
  opacity: 1;
  transition: var(--card-overlay-transition--fx);
}


/* ===== CARD: MISC ===== */
.card__spacer { flex: 1 1 auto; }
