/* ============================================ */
/* ======== SITE: LAYOUT & STRUCTURE ========== */
/* ====== Depends on: tokens, base, typography ====== */
/* ============================================ */

/* ====== CONTAINER / PANEL ====== */
.container {
  flex: 1 0 auto;
  inline-size: 100%;
  
  max-inline-size: none;
  margin: 0;
  padding-inline: var(--container-padding);
  padding-block: 0;
}

@media (max-width: 900px) {
  .container {
    padding-inline: 0;
  }
}

.panel-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  min-block-size:  100dvh;
  max-inline-size: var(--panel-size);
  margin-inline: auto;
  box-shadow: var(--panel-shadow);
  outline: var(--panel-outline);
  outline-offset: -1px;
  border: none;
  

  background-image: 
    var(--overlay-nebula),
    var(--overlay-stars),
    var(--overlay-dim),

    radial-gradient(ellipse at -55% 5%,transparent 39%,oklch(30% 0.175 190 / 2%),transparent 71%),
    radial-gradient(ellipse at bottom left,oklch(34% 0.165 285 / 8%) 10%,oklch(28% 0.165 295 / 18%),oklch(32% 0.165 315 / 8%) 90%),
    radial-gradient(ellipse at top right,oklch(34% 0.165 315 / 8%) 10%,oklch(28% 0.165 315 / 18%),oklch(32% 0.165 285 / 8%) 90%),
    radial-gradient(circle at left,oklch(18.5% 0.1 287),oklch(24.5% 0.1475 295)60%,oklch(18.5% 0.1 303 ));
    /*linear-gradient(165deg, rgb(37, 7, 112) , #2f0340, rgb(37, 7, 112)) ;*/
  
  background-repeat:
    repeat,
    repeat,
    no-repeat,
    repeat,
    repeat,
    repeat;

  background-size:
    1280px 1280px,
    640px 640px,
    auto,
    cover,
    cover,
    cover,
    cover;

  background-blend-mode:
    overlay,
    soft-light,
    multiply,
    normal,
    normal,
    normal,
    normal;

  background-position:
    top,
    top,
    top,
    center,
    center,
    center,    
    center;    
}
@media (max-width: 900px) {
  .panel-wrapper {
    max-inline-size: 100%;
    margin-block: 0;
    margin-inline: 0;
  }
}

.panel-wrapper .stars-canvas {
  position: absolute;
  inset: 0;
  z-index: 0;           
  pointer-events: none; 
  mix-blend-mode: screen; opacity: .85;
  inline-size: 90%;
  block-size: 90%;
  justify-self: center;
  align-self: center;
  margin: var(--panel-padding);
}
@media (max-width: 900px) {.panel-wrapper .stars-canvas { display: none; }}

main.panel {
  padding: var(--panel-padding);
  padding-block: 0;
  flex: 1 1 auto;
}


