/* ------------------------------------ */
/* ---- SITE STRUCTURE / LAYOUT ------- */
/* - Container, Panel, Section, Prose - */
/* ------------------------------------ */

/* ------------------------------------ */
/* ---->  TOKENS  <-------------------- */
/* ------------------------------------ */
:root {
  --section-gap:                    clamp(var(--space-s),  calc(var(--space-s) + 1.25vh),    var(--space-xl));
  --container-padding:              clamp(var(--space-xxs),  calc(var(--space-xxs) + 2vw),    var(--space-xxl));
  --flow-gap:                       var(--space-xs);

  --panel-size:                     1366px;
  --panel-padding:                  clamp(var(--space-xs),  calc(var(--space-xs) + 2.5vw),    var(--space-xxxl));

  --panel-bg-color:                 color-mix(in oklch, var(--color-dark) 75%, black 25%);
  --panel-gradient:                 radial-gradient(circle at top right,
                                                    var(--color-accent--lilac)25%,
                                                    color-mix(in oklch,transparent,var(--color-accent--pink))50%,
                                                    var(--color-accent--lilac)75%);
                                   
  --panel-dim:                      ;                      
  --panel-shadow:                   var(--fx-shadow--strong),inset 0 0 144px rgba(0,0,0,.65);
  --panel-base-transform:           translateZ(0);
  --panel-base-will-change:         transform;
}

/* ------------------------------------ */
/* ---->  CONTAINER  <----------------- */
/* ------------------------------------ */
.container {
  flex: 1 0 auto;
  inline-size: 100%;
  max-inline-size: none;
  margin: 0;
  padding-inline: var(--container-padding);
  padding-block: 0;
}

@media (max-width: 900px) {
  .container {
    padding-inline: 0;
  }
}

/* ------------------------------------ */
/* ---->  PANEL  <--------------------- */
/* ------------------------------------ */
.panel-wrapper::before {
  content: "";
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  box-shadow: var(--panel-shadow);
  background-color:      var(--panel-bg-color);
  background-image:      var(--overlay-stars--dense), var(--panel-gradient), var(--overlay-nebula-4);
  background-repeat:     repeat,                      repeat,             repeat;
  background-size:       480px,                       var(--panel-size),                 var(--panel-size);
  background-blend-mode: screen,                      color,                 screen;
  background-position:   left,                        top left,                center -250px;
}
.panel-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  min-block-size: 100dvh;
  max-inline-size: var(--panel-size);
  margin-inline: auto;
  outline: var(--panel-outline);
  outline-offset: -1px;
  border: none;

}

@media (max-width: 900px) {
  .panel-wrapper {
    max-inline-size: 100%;
    margin-block: 0;
    margin-inline: 0;
  }
  .panel-wrapper::before {
     background-image:      var(--overlay-stars--dense), var(--panel-gradient), var(--overlay-nebula-mobile);
     background-size:       480px,                       cover,                 100% auto;
     
  }
}

.panel-wrapper .stars-canvas {
  position: absolute;
  inline-size: 90%;
  height: 90%;
  isolation: isolate;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: .85;
  margin: var(--panel-padding);
}

@media (max-width: 900px) {
  .panel-wrapper .stars-canvas {
    display: none;
  }
}

main.panel {
  padding: var(--panel-padding);
  padding-block: 0;
  flex: 1 1 auto;
}

/* ------------------------------------ */
/* ---->  SECTION  <------------------- */
/* ------------------------------------ */
.content-section {
  display: grid;
  flex-wrap: wrap;
  gap: var(--section-gap);
  align-items: stretch;
  max-inline-size: 100%;
  grid-template-columns: 1fr;
}

.content-section + .content-section, .content-section:first-of-type {
  margin-block-start: var(--section-gap);
}

.content-section :where(h1, h2, h3, h4) {
  margin: 0 0 calc(var(--flow-gap) * .5) 0;
}

.content-section.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 800px) {
  .content-section.cols-2 {
    grid-template-columns: 1fr;
  }
}

.content-section.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1100px) {
  .content-section.cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content-section--masonry {
  display: block;
  column-gap: var(--section-gap);
  column-fill: balance;
  column-count: 2;
}
@media (max-width: 800px) {
  .content-section--masonry {
    column-count: 1;
  }
}

.content-section--masonry > * {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  margin-block-end: var(--section-gap);
}

.content-section--masonry .card {
  min-block-size: auto;
}

/* ------------------------------------ */
/* ---->  PROSE FLOW  <---------------- */
/* ------------------------------------ */
.prose {
  display: flex;
  flex-direction: column;
  gap: var(--flow-gap);
  margin-block: var(--flow-gap);
  max-inline-size: clamp(65ch, 35vw, 95ch);
}

.prose--unlimited {
  max-inline-size: none
}

.prose:first-child {
  margin-block-start: 0;
}
.prose:last-child {
  margin-block-end: 0;
}
.prose>* {
  margin: 0;
}

.prose ul,
.prose ol {
  padding-inline-start: 1.2em;
  margin: 0;
}