/* ------------------------------------ */
/* ---- SITE BARS --------------------- */
/* - HEADER & FOOTER ------------------ */
/* ------------------------------------ */

/* ------------------------------------ */
/* ---->  TOKENS  <-------------------- */
/* ------------------------------------ */
:root {
  --bars-padding:                   clamp(var(--space-xxs),  calc(var(--space-xxs) + .95vw),    var(--space-xl));
  --bars-gap:                       var(--space-xxs);

  --bars-border:                    var(--fx-border--soft);
  --bars-shadow:                    var(--fx-shadow), var(--fx-shadow-inset--soft);
                                    
  --bars-backdrop:                  var(--fx-blur-s) var(--fx-bright) var(--fx-saturate--soft);

  --header-transition:              var(--transition-state);
  --header-will-change:             transform, filter;

  --header-item-shadow:             none;
  --header-item-filter:             var(--fx-drop-shadow);
  --header-item-filter--fx:         var(--fx-glow);
  --header-item-backdrop:           none;
  --header-item-transform:          var(--transform-raise);
  --header-item-transition:         var(--transition-state);
  --header-item-will-change:        transform, filter;

  --header-icon-size:               clamp(var(--icon-size-s), calc(.8rem + .875vw), var(--icon-size-l));
  --header-icon-size--fx:           calc(var(--header-icon-size) * 1.75);
  --header-icon-transform:          translateY(-.05em);
  --header-icon-transform--fx:      translateY(0);
  --header-icon-transition:         var(--transition-state);
  --header-icon-will-change:        font-size;

  --header-label-size:              clamp(var(--font-size-xs), calc(.75rem + .85vw), var(--font-size-xl));
  --header-label-transform--show:   translateY(0);
  --header-label-transform--hide:   var(--transform-raise); 
  --header-label-transition:        var(--transition-state);
  --header-label-will-change:       opacity, filter , transform, max-height;

  --footer-meta-border:             var(--fx-border--soft);
  --footer-separator-transform:     translateY(-12%);
  --footer-meta-transform--fx:      translateY(6px);
  --footer-meta-transition:         var(--transition-state);
}


/* ------------------------------------ */
/* ---->  SITE BAR  <------------------ */
/* ------------------------------------ */
.site-bar {
    display: grid;
    grid-template-columns: 1fr;
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    backdrop-filter: var(--bars-backdrop);
    box-shadow: var(--bars-shadow);
    overflow: hidden;
    isolation: isolate;
    background-blend-mode: multiply,normal;
    background-size: auto;    
}
.site-bar:before {
    content: "";
    inset: -2em;
    isolation: isolate;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(0deg,oklch(21.5% 0.1175 295),oklch(17.5% 0.1 300 )125%);
    background-blend-mode: normal;
    background-size: auto;   
    opacity: .85;
}
.site-bar.header {background-position: 50% -54%,top;}
.site-bar.footer {background-position: 50% 54%,bottom;}


/* ------------------------------------ */
/* ---->  HEADER  <-------------------- */
/* ------------------------------------ */
.header {
    top: 0;
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
    border-top: 0;
    padding-inline: var(--bars-padding);
    padding-block: var(--bars-padding);
    transition: var(--header-transition);
    will-change: var(--header-will-change);
}

@media (max-width: 900px) {
.header {
    border-radius: 0 ;
    padding-inline: 0;
    padding-block: calc(1.25 * var(--bars-padding));
  }
}

/* ---->  HEADER ITEM  <--------------- */
.header__item {
    display: flex;
    gap: var(--control-gap);
    flex-direction: row;
    place-content: center;
    place-items: center;
    filter: var(--header-item-filter);
    transition: var(--header-item-transition);
    inline-size: 100%;
}
@media (max-width: 900px) {
    .header__item                       { flex-direction: column;}
    .header__item[data-visible="false"] { gap: 0; }
}

.header__item[data-active="false"]:hover { 
    transform: var(--header-item-transform);
}

.header__item:is(:hover,:focus-visible,[data-active="true"])> *{
    opacity: .95;
    filter: var(--header-item-filter--fx); 
}

/* ---->  ITEM-ICON & -LABEL  <---------- */
.header__item-icon,
.header__item-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    vertical-align: middle;
    opacity: .65;
    place-content: center;
    place-items: center;
    place-self: center;
}

.header__item-icon    {
    transition: var(--header-icon-transition);
    will-change: var(--header-icon-will-change);
    font-size: var(--header-icon-size);
    transform: var(--header-icon-transform);
}
@media (max-width: 900px) {
    .header__item[data-visible="false"] > .header__item-icon { 
        font-size: var(--header-icon-size--fx);
        transform: var(--header-icon-transform--fx); 
    }
}

.header__item-label   {
    white-space: pre-line;
    transition: var(--header-label-transition);
    will-change: var(--header-label-will-change);
}
@media (min-width: 1100px) {.header__item-label { white-space: normal; }}
@media (max-width: 900px) {
    .header__item-label { 
        overflow: hidden; 
        max-height: 10rem; 
    }
    .header__item-label[data-visible="true"] { 
        white-space: pre-wrap; 
        text-align: center; 
        transform: var(--header-label-transform--show); }
    .header__item-label[data-visible="false"]{ 
        opacity: 0; 
        transform: var(--header-label-transform--hide); 
        max-height: 0; 
        pointer-events: none; 
        visibility: hidden; 
    }

}

/* ===== SITE-BARS: FOOT ===== */
.footer {
    bottom: 0; 
    margin-block-start: var(--panel-padding);
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
    border-bottom: 0;
    padding-inline: var(--bars-padding);

}
@media (max-width: 900px) {
.footer {
    border-radius: 0;
    padding-block: calc(.25 * var(--bars-padding)); 
  }
}
/* ===== FOOTER ===== */
.footer[data-visible="false"] {  grid-template-areas: "crumbs"; }
.footer[data-visible="true"]  {  grid-template-areas: "crumbs" "meta"; }
.footer :where(p)   { opacity: 0.75; }

.footer__crumbs { padding-block-start: calc(.25 * var(--bars-padding)); }
.footer__meta { padding-block: calc(.25 * var(--bars-padding)); }

/* ===== FOOTER: CRUMBS ===== */
.footer__crumbs {
    grid-area: crumbs;
    place-items: center;    
}
.footer__crumbs ol{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: var(--bars-gap);
    min-width: 0;
}
.footer__crumbs--seperator {
    display: inline-flex;
    align-items: center;
    transform: var(--footer-separator-transform);
    opacity: .5;
    pointer-events: none;
}

/* ===== FOOTER: META ===== */
.footer__meta {
  display: grid;
  inline-size: 100%;
  grid-area: meta;
  grid-template-columns: 40% auto 40%;
  grid-template-areas:
    "col--left col--center col--right";
  overflow: hidden;
  max-height: var(--footer-meta-max-height, 24rem);
  transition: var(--footer-meta-transition);
}
.footer__meta[data-visible="false"] {  opacity: 0; transform: var(--footer-meta-transform--fx); max-height: 0; pointer-events: none; border-top-color: transparent; grid-area: unset; }
.footer__meta[data-visible="true"]{  opacity: 1; transform: translateY(0); border-top: var(--footer-meta-border); }

.footer__meta > .col--left   {  grid-area: col--left;    justify-self: start;  }
.footer__meta > .col--center {  grid-area: col--center;  justify-self: center;  }
.footer__meta > .col--right  {  grid-area: col--right;   justify-self: end;  }


