:root { 
  /* ============= Base Spacings / Radius ============= */
  --space-xxs:                      0.25rem; 
  --space-xs:                       0.50rem; 
  --space-s:                        0.75rem; 
  --space-m:                        1.00rem; 
  --space-l:                        1.50rem; 
  --space-xl:                       2.00rem; 
  --space-xxl:                      3.00rem; 
  --space-xxxl:                     4.00rem; 

  --radius-xxs:                     6px;
  --radius-xs:                      8px;
  --radius-s:                       10px;
  --radius-m:                       14px;
  --radius-l:                       18px;
  --radius-xl:                      36px;
  --radius-xxl:                     68px;


  /* ====== Base Colors ========================= */
  --color-dark:                   oklch(0.2226 0.0801 295.25);
  --color-dark--strong:             color-mix(in oklch, var(--color-dark) 70%, transparent);
  --color-dark--soft:               color-mix(in oklch, var(--color-dark) 50%, transparent);
  --color-dark--ghosty:             color-mix(in oklch, var(--color-dark) 30%, transparent);

  --color-light:                  oklch(92% 0.125 295); 
  --color-light--strong:            color-mix(in oklch, var(--color-light) 70%, transparent);
  --color-light--soft:              color-mix(in oklch, var(--color-light) 50%, transparent);
  --color-light--ghosty:            color-mix(in oklch, var(--color-light) 30%, transparent);

  --color-accent:                 oklch(54% 0.2 291); 
  --color-accent--strong:           color-mix(in oklch, var(--color-accent) 70%, transparent);
  --color-accent--soft:             color-mix(in oklch, var(--color-accent) 50%, transparent);
  --color-accent--ghosty:           color-mix(in oklch, var(--color-accent) 30%, transparent);

  --color-accent-dark:              oklch(0.2634 0.1131 294.84);
  --color-accent-dark--strong:      color-mix(in oklch, var(--color-accent-dark) 70%, transparent);
  --color-accent-dark--soft:        color-mix(in oklch, var(--color-accent-dark) 50%, transparent);
  --color-accent-dark--ghosty:      color-mix(in oklch, var(--color-accent-dark) 30%, transparent);

  --color-accent-light:             oklch(91% 0.07 300);
  --color-accent-light--strong:     color-mix(in oklch, var(--color-accent-light) 70%, transparent);
  --color-accent-light--soft:       color-mix(in oklch, var(--color-accent-light) 50%, transparent);
  --color-accent-light--ghosty:     color-mix(in oklch, var(--color-accent-light) 30%, transparent);
          

  /* ====== Base FX ==================== */  
  --text-shadow:                    2px 2px 3px var(--color-dark--soft);
  --icon-shadow:                    0 0 3px color-mix(in oklch,transparent 30%,currentColor);
  --text-glow:                      0 0 3px var(--color-accent-light--soft);

  --fx-drop-shadow--soft:           drop-shadow(2px 2px 4px var(--color-dark--ghosty));
  --fx-drop-shadow:                 drop-shadow(2px 3px 1px var(--color-dark--strong));
  --fx-drop-shadow--strong:         drop-shadow(0 0 var(--color-dark));

  --fx-shadow-inset--ghosty:        inset 0 0 59px var(--color-dark--ghosty);
  --fx-shadow-inset--soft:          inset 0 0 29px var(--color-dark--soft);          

  --fx-shadow--soft:                2px 2px 3px -1px rgba(0,0,0,.45);
  --fx-shadow:                      0 0 28px -6px rgba(0,0,0,.5);
  --fx-shadow--strong:              0 0 56px -10px rgba(0,0,0,.55);

  --fx-glow:                        drop-shadow(0 0 4px var(--color-accent--strong));
  --fx-glow--strong:                drop-shadow(0 0 0 var(--color-accent)); 

  --fx-bright--soft:                brightness(1.1);
  --fx-bright:                      brightness(1.35);
  --fx-bright--strong:              brightness(1.6);

  --fx-saturate--soft:              saturate(1.05);
  --fx-saturate:                    saturate(1.1);
  --fx-saturate--strong:            saturate(1.15);

  --fx-blur-xxs:                    blur(var(--radius-xxs));
  --fx-blur-xs:                     blur(var(--radius-xs));
  --fx-blur-s:                      blur(var(--radius-s));
  --fx-blur-m:                      blur(var(--radius-m));
  --fx-blur-l:                      blur(var(--radius-l));
  --fx-blur-xl:                     blur(var(--radius-xl));
  --fx-blur-xxl:                    blur(var(--radius-xxl));

  --fx-border--soft:                1px solid var(--color-dark--ghosty);

  --overlay-dim:                    radial-gradient(ellipse at center,transparent 40%, var(--color-dark--soft) 120%); 


  /* ====== Motion ====== */
  --slow: .45s; --fast: .24s; 
  --transition-progress:            transform       .12s linear;
  --transition-fade-in:             opacity         var(--fast) ease-out;
  --transition-fade-in--slow:       opacity         var(--slow) ease-out;
  --transition-fade-out:            opacity         var(--fast) ease-in;
  --transition-fade-out--slow:      opacity         var(--slow) ease-in;
  --transition-state:               color           var(--fast) ease,
                                    text-shadow     var(--fast) ease,
                                    box-shadow      var(--fast) ease,
                                    filter          var(--fast) ease,
                                    background      var(--fast) ease,
                                    padding-block   var(--fast) ease, 
                                    transform       var(--fast) ease-out, 
                                    font-size       var(--fast) ease-out, 
                                    max-height      var(--fast) ease-out;

  --transition-state--slow:         color           var(--slow) ease,
                                    text-shadow     var(--slow) ease,
                                    box-shadow      var(--slow) ease,
                                    filter          var(--slow) ease,
                                    background      var(--slow) ease,
                                    padding-block   var(--slow) ease, 
                                    transform       var(--slow) ease-out, 
                                    font-size       var(--slow) ease-out, 
                                    max-height      var(--slow) ease-out;
  
  --transform-raise:                translateY(-15%);
  --transform-grow:                 scale(1.05);
  --transform-grow--strong:         scale(1.15);
  --transform-shrink:               scale(.95);
  --transform-shrink--strong:       scale(.85);


}