---
export const title = 'Imprint / Impressum';
---

<section class="content-head content-card__title section">
  <h1>{title}</h1>
  <div class="prose">
    <p>In case of any suspected copyright infringement or any other legal claims, you may contact us at:</p>
  </div>
</section>

<section class="content-layout content-layout__split section">
  <section class="content-card">
    <div class="content-card__title">
      <h2>Content Management</h2>
      <p><em>- Artworks & Pricing -</em></p>
    </div>
    <dl class="deflist">
      <dt class="deflist__term">Nickname</dt>
      <dd class="deflist__desc">Faelis Skribblekitty</dd>
      <dt class="deflist__term">Name, Surname</dt>
      <dd class="deflist__desc">Jungmann, Stephanie</dd>
      <dt class="deflist__term">Address</dt>
      <dd class="deflist__desc">Michaelstr.&nbsp;38, 47055 Duisburg, NRW, Germany</dd>
      <dt class="deflist__term">Email</dt>
      <dd class="deflist__desc"><a href="mailto:content@foxx.pet">content@foxx.pet</a></dd>
    </dl>
  </section>

  <section class="content-card">
    <div class="content-card__title">
      <h2>Site Administration</h2>
      <p><em>- Domain & Infrastructure -</em></p>
    </div>
    <dl class="deflist">
      <dt class="deflist__term">Nickname</dt>
      <dd class="deflist__desc">Lucy Foxx</dd>
      <dt class="deflist__term">Name, Surname</dt>
      <dd class="deflist__desc">Wiese, Julian</dd>
      <dt class="deflist__term">Address</dt>
      <dd class="deflist__desc">Michaelstr.&nbsp;38, 47055 Duisburg, NRW, Germany</dd>
      <dt class="deflist__term">Email</dt>
      <dd class="deflist__desc"><a href="mailto:admin@foxx.pet">admin@foxx.pet</a></dd>
    </dl>
  </section>
</section>

<section class="content-card section">
  <div class="content-card__subtitle">
  <h2>Disclaimer</h2>
  <div class="prose">
    <p>
      <em>
        This is a private art website. No liability for external links; operators of linked pages are responsible for their content.<br />
        Prices are subject to change and can change without any further notice.
      </em>
    </p>
  </div>
  </div>
</section>
